	<extend name="./Tpl/layout.html"/>	

	<block name="css">
		<link href="__PUBLIC__/css/jquery.fancybox.css" rel="stylesheet">	
		<link href="__PUBLIC__/css/jquery.fancybox-thumbs.css" rel="stylesheet"></block>
	<block name="content">
		<div id="main" class="container">
			<!-- mobile端显示固定导航 -->	
			<div class="col-md-3 visible-xs-block">
				<div class="panel panel-default">
					<div class="panel-body detail-panel">
						<h4>{$goods.Title}</h4>
						<h2 class="importinfo">
							{$goods.Price}.00
							<span class="oldprice">{$goods.CostPrice}.00</span>
						</h2>

						<hr/>	
						<div class="row">
							<div class="col-md-5">交易方式</div>
							<div class="col-md-7">{$goods.TradeWayTxt}</div>
						</div>
						<hr/>	
						<button class="btn btn-danger">
							<span class="glyphicon glyphicon-heart"></span>
							&nbsp加入心愿单
						</button>
						<if condition="(($usermodel eq null) or ($usermodel['Id'] eq  null))">
							<a href="{:U('Usercenter/User/index')}"  class="btn btn-primary " >
								<span class="glyphicon glyphicon-comment"></span>
								&nbsp留言
							</a>
							<else/>	
							<button  class="btn btn-primary pubcomments" data-toggle="modal" data-target="#refModal">
								<span class="glyphicon glyphicon-comment"></span>
								&nbsp留言
							</button>
						</if>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-body">

						<!-- Slider -->	
						<div class="row">
							<div class="col-xs-12" id="slider">
								<!-- Top part of the slider -->	
								<div id="carousel-bounding-box" data-toggle="tooltip" data-placement="top" title="点击查看原图" data-container="body" data-delay="500">
									<div class="carousel slide" id="myCarousel">
										<!-- Carousel items -->	
										<div class="carousel-inner">
											<for start="0" end="$imgcount">
												<if condition="$i eq 0">
													<div class="active item" data-slide-number="{$i}">
														<a class="fancybox-thumbs" data-fancybox-group="thumb" href="__ROOT__{$goodsimg[$i]['URL']}">
															<img src="__ROOT__{$goodsimg[$i]['MD_URL']}" alt="{$goodsimg[$i]['Title']}" />	
														</a>
													</div>
													<else/>	
													<div class=" item" data-slide-number="{$i}">
														<a class="fancybox-thumbs" data-fancybox-group="thumb" href="__ROOT__{$goodsimg[$i]['URL']}">
															<img src="__ROOT__{$goodsimg[$i]['MD_URL']}" alt="{$goodsimg[$i]['Title']}" />	
														</a>
													</div>
												</if>
											</for>
										</div>
										<!-- Carousel nav -->	
										<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
											<span class="glyphicon glyphicon-chevron-left"></span>
										</a>
										<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
											<span class="glyphicon glyphicon-chevron-right"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!--/Slider-->	

						<div class="row hidden-xs" id="slider-thumbs">
							<!-- Bottom switcher of slider -->	
							<ul class="hide-bullets">
								<for start="0" end="$imgcount">
									<li class="col-sm-2">
										<a href="#" class="thumbnail" id="carousel-selector-{$i}">
											<img src="__ROOT__{$goodsimg[$i]['ThumbURL']}"></a>
									</li>
								</for>
							</ul>
						</div>

						<hr/>	

						<!-- 描述 -->	
						<div class="row">

							<div class="col-md-12">
								<h4 class="pull-right message">{:date('Y-m-d H:i:s',$goods['Createtime'])}</h4>
								<a href="#">
									<img src="__ROOT__{$goods['avatarURL']}" alt="头像" class="img-circle">	
									<span>{$goods['Nick']}</span>
								</a>
								<span>lv</span>
								<span class="importinfo">&nbsp;{$goods['Grade']}</span>
							</div>

							<div class="col-md-12">
								<p class="detail-p">{$goods['Presentation']}</p>
							</div>

						</div>
					</div>
				</div>

				<!-- 评论列表 -->	
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">

							<div class="timeline-centered">
								<foreach name='commentlist' item='v'>
									<article class="timeline-entry">
										<div class="timeline-entry-inner">
											<div class="timeline-icon">
												<img src="__ROOT__{$v['CriticsURL']}" alt="头像" class="img-circle"></div>

											<div class="timeline-label">
												<span class="pull-right time">{$v['CreateTime']}</span>
												<h2>
													<a href="#">{$v['Critics']}</a>
													<if condition="(($v['UserId'] eq $v['AssesseeId']) or ($v['AssesseeId'] eq null)) or ($v['AssesseeId'] eq 0)">
														<else/>	
														<span>回复</span>

														<a href="#">{$v['Reply']}</a>
													</if>
												</h2>
												<p class="content">{$v['Content']}</p>
												<if condition="(($usermodel eq null) or ($usermodel['Id'] eq  null))">
													<a href="{:U('Usercenter/User/index')}"  class="replay " >回复</a>
													<else/>	
													<a href="javascript:void(0)" uid="{$v['UserId']}" nick="{$v['Critics']}" class="replay" data-toggle="modal" data-target="#refModal">回复</a>
												</if>
											</div>
										</div>
									</article>
								</foreach>
							</div>

						</div>
					</div>
				</div>

				<div class="modal fade" id="refModal" tabindex="-1" role="dialog" aria-labelledby="refModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span>
									<span class="sr-only">Close</span>
								</button>
								<h4 class="modal-title hightlight" id="refModalLabel">留言</h4>
							</div>
							<form id="refform" class="form-horizontal" action="{:U('Home/Index/addComment')}" method="post" onsubmit="return ajaxsubmit()">
								<div class="modal-body">
									<input type="hidden" name="GoodsId" value="{$goods['Id']}" />	
									<input type="hidden" name="AssesseeId" id="AssesseeId" value="0" />	
									<input type="hidden" name="UserId" id="UserId" value="{$usermodel['Id']}" />	
									<div class="form-group">
										<label for="Content" class="col-sm-2 control-label">内容</label>
										<div class="col-sm-10">
											<textarea id="Content" name="Content" class="form-control" rows="3" placeholder="内容"></textarea>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
									<button id="submitref" type="submit" class="btn btn-primary" data-loading-text="提交中..." autocomplete="off" >提交</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
			<!-- web端显示的是浮动导航 -->	
			<div class="col-md-3 hidden-xs">
				<div class="panel panel-default" data-spy="affix">
					<div class="panel-body detail-panel">
						<h4>{$goods.Title}</h4>
						<h2 class="importinfo">
							{$goods.Price}.00
							<span class="oldprice">{$goods.CostPrice}.00</span>
						</h2>

						<hr/>	
						<div class="row">
							<div class="col-md-5">交易方式</div>
							<div class="col-md-7">{$goods.TradeWayTxt}</div>
						</div>
						<hr/>	
						<button class="btn btn-danger">
							<span class="glyphicon glyphicon-heart"></span>
							&nbsp加入心愿单
						</button>
						<if condition="(($usermodel eq null) or ($usermodel['Id'] eq  null))">
							<a href="{:U('Usercenter/User/index')}" class="btn btn-primary " >
								<span class="glyphicon glyphicon-comment"></span>
								&nbsp留言
							</a>
							<else/>	
							<button  class="btn btn-primary pubcomments" data-toggle="modal" data-target="#refModal">
								<span class="glyphicon glyphicon-comment"></span>
								&nbsp留言
							</button>
						</if>
					</div>
				</div>
			</div>
		</div>
	</block>

	<block name="js">

		<script src="__PUBLIC__/js/jquery.fancybox.pack.js"></script>
		<script src="__PUBLIC__/js/jquery.fancybox-thumbs.js"></script>
		<script>
function ajaxsubmit() {
    var $btn = $('#submitref').button('loading');
    if (!$.trim($('#Content').val())) {
        showerrormsg('内容不能为空', 100, 1000);
        $('#Content').focus();
        $btn.button('reset');
        return false;
    }
    $.ajax({
        type: 'post',
        cache: false,
        url: $('#refform').attr('action'),
        data: $('#refform').serialize(),
        error:  
        function(request)  {
            showerrormsg('网络错误', 100, 1000);
            reloadcode();
            $btn.button('reset');   
            return false;             
        },
                        success:  
        function(data)  {
            if (data.status == 0) {
                showerrormsg(data.info, 100, 1000);
                reloadcode();
                $btn.button('reset');
                return false;
            } else {
                showsuccessmsg("提交成功", 100, 2000);
                setTimeout(function() {
                    $btn.button('reset');
                    location.reload();
                },
                300);
                return false;
            }                
        }
    });
    return false;
}
$(document).ready(function() {

    $('.replay').click(function() {
        $('#refModalLabel').html('回复&nbsp;<a>' + $(this).attr('nick') + '</a>');
        if ($(this).attr('uid') == $('#UserId').val()) {
            $('#AssesseeId').val('0');
        } else {
            $('#AssesseeId').val($(this).attr('uid'));
        }

    });

    $('.pubcomments').click(function() {
        $('#refModalLabel').html('留言');
        $('#AssesseeId').val('0');
    });

    $('.fancybox').fancybox();
    $('.fancybox-thumbs').fancybox({
        prevEffect: 'none',
        nextEffect: 'none',

        closeBtn: false,
        arrows: false,
        nextClick: true,

        helpers: {
            thumbs: {
                width: 50,
                height: 50
            }
        }
    });
});
		</script>
	</block>