<extend name="./Tpl/Home/hometpl.html"/>
<block name="content">
	<div class="col-md-9">
		<div class="row carousel-holder">
			<div class="col-md-12" >
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<for start="0" end=":count($topimg)">
							<if condition="$i eq 0">
								<li data-target="#carousel-example-generic" data-slide-to="{$i}" class="active"></li>
								<else/>
								<li data-target="#carousel-example-generic" data-slide-to="{$i}"></li>
							</if>
						</for>
					</ol>
					<div class="carousel-inner">
						<for start="0" end=":count($topimg)">
							<if condition="$i eq 0">
								<div class="item active">
									<a href="{$topimg[$i][Href]?$topimg[$i][Href]:U('/',array('f'=>
										$topimg[$i][Id]))}" title="{$topimg[$i]['Title']}" target="_blank">
										<img class="slide-image" src="{:getFileUrl($topimg[$i]['ImgURL'],'800x300')}" height="300" width="800" alt="{$topimg[$i]['Title']}"></a>
								</div>
								<else/>
								<div class="item">
									<a href="{$topimg[$i][Href]?$topimg[$i][Href]:U('/',array('f'=>
										$topimg[$i][Id]))}" title="{$topimg[$i]['Title']}" target="_blank">
										<img class="slide-image" src="{:getFileUrl($topimg[$i]['ImgURL'],'800x300')}" height="300" width="800" alt="{$topimg[$i]['Title']}"></a>
								</div>
							</if>
						</for>
					</div>
					<a class="left carousel-control" href="#carousel-example-generic"  data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic"  data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>

		</div>

		<!-- 热门 -->
		<div class="row">
			<div class="col-sm-12">
				<h4 class="hightlight">热门</h4>
			</div>
			<!-- 商品列表 -->
			<volist name="toplist" id="v" empty="$empty">
				<div class="col-sm-4">
					<a href="{:U('/g/'.$v['Id'])}" target="_blank" class="thumbnail ">
						<img src="{:getFileUrl($v['URL'],'320x160')}" alt="{$v['Title']}">
						<div class="caption">
							<h4 class="pull-right message">{$v['TradeWayTxt']}</h4>
							<p>
								<img class="img-circle" src="{:getFileUrl($v['avatarURL'],'40x40')}" alt="头像">
								<span>{$v['Nick']}</span>
							</p>
							<p>{$v['Title']}</p>
						</div>
						<div class="ratings">
							<h4 class="pull-right message">浏览 {$v['Views']}</h4>
							<h4 class="pull-right message">评论 {$v['CommentCount']}&nbsp</h4>
							<h3>
								{$v['Price']}.00
								<if condition="$v['Price'] lt 10000">
									<if condition="$v['CostPrice'] lt 10000">
										<span>{$v['CostPrice']}.00</span>
									</if>
								</if>
							</h3>
						</div>
					</a>
				</div>
			</volist>
		</div>

		<hr>
		<!--记得分隔符-->

		<!-- 最新 -->
		<div class="row">
			<div class="col-sm-12">
				<h4 class="hightlight">最新</h4>
			</div>

			<!-- 商品列表 -->
			<volist name="newlist" id="v" empty="$empty">
				<div class="col-sm-4">
					<a href="{:U('/g/'.$v['Id'])}" target="_blank" class="thumbnail ">
						<img src="{:getFileUrl($v['URL'],'320x160')}" alt="{$v['Title']}">
						<div class="caption">
							<h4 class="pull-right message">{$v['TradeWayTxt']}</h4>
							<p>
								<img class="img-circle" src="{:getFileUrl($v['avatarURL'],'40x40')}" alt="头像">
								<span>{$v['Nick']}</span>
							</p>
							<p>{$v['Title']}</p>
						</div>
						<div class="ratings">
							<h4 class="pull-right message">浏览 {$v['Views']}</h4>
							<h4 class="pull-right message">评论 {$v['CommentCount']}&nbsp</h4>
							<h3>
								{$v['Price']}.00
								<if condition="$v['Price'] lt 10000">
									<if condition="$v['CostPrice'] lt 10000">
										<span>{$v['CostPrice']}.00</span>
									</if>
								</if>
							</h3>
						</div>
					</a>
				</div>
			</volist>
		</div>

		<hr>
		<!--记得分隔符-->

		<!-- 猜你喜欢 -->
		<div class="row">
			<div class="col-sm-12">
				<h4 class="hightlight">猜你喜欢</h4>
			</div>

			<!-- 商品列表 -->
			<volist name="likelist" id="v" empty="$empty">
				<div class="col-sm-4">
					<a href="{:U('/g/'.$v['Id'])}" target="_blank" class="thumbnail ">
						<img src="{:getFileUrl($v['URL'],'320x160')}" alt="{$v['Title']}">
						<div class="caption">
							<h4 class="pull-right message">{$v['TradeWayTxt']}</h4>
							<p>
								<img class="img-circle" src="{:getFileUrl($v['avatarURL'],'40x40')}" alt="头像">
								<span>{$v['Nick']}</span>
							</p>
							<p>{$v['Title']}</p>
						</div>
						<div class="ratings">
							<h4 class="pull-right message">浏览 {$v['Views']}</h4>
							<h4 class="pull-right message">评论 {$v['CommentCount']}&nbsp</h4>
							<h3>
								{$v['Price']}.00
								<if condition="$v['Price'] lt 10000">
									<if condition="$v['CostPrice'] lt 10000">
										<span>{$v['CostPrice']}.00</span>
									</if>
								</if>
							</h3>
						</div>
					</a>
				</div>
			</volist>
		</div>
	</div>
</block>