<layout name="layout" />
<script type="text/javascript">
$(document).ready(function () {
	/*刷新地址*/
	$('#refreshadd').click(function(e){
		var _url=$('#url').attr('appurl')+'/refreshadd';
		$.post(_url,{'':''},function(data){
			if(data.status==1){
				if(!data.goods_order){return;}
				var _arr=$.parseJSON(data.goods_order);
				if(!_arr){return;}
				$('#Address').children('option').remove();
				$(_arr).each(function(i,v){
					$('#Address').append("<option value="+v['Id']+" address="+v['address']+" >"+v['Tel']+"&nbsp;&nbsp;"+v['Address']+"</option>");
				});
				return;
			}
		});		
	});
</script>
<div id="main" class="container">
	<div class="text-center">
		<h1>购买商品</h1>
	</div>
	<br>

	<!-- 购买商品-->
    <form action="__APP__/Home/Index/order2" method="post" enctype="multipart/form-data">
    	<input type="hidden" name="GoodsId" value="{$goods_fillorder[0].Id}" />
    	<input type="hidden" name="SellerId" value="{$goods_fillorder[0].SellerId}" />
		<input type="hidden" name="SellerAddId" value="{$goods_fillorder[0].AddressId}" />
		<input type="hidden" name="E-Money" value="0" />
    	<div class="form-group">
			<label for="Title" class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="Title"
					value="{$goods_fillorder[0].Title}"  name="Title" Readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="Price" class="col-sm-2 control-label">Price</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="Price"
					value="{$goods_fillorder[0].Price}元" name="Price" Readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="sellerNick" class="col-sm-2 control-label">SellerNick</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="sellerNick"
					value="{$goods_fillorder[0].SellerNick}" name="sellerNick" Readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="sellerTel" class="col-sm-2 control-label">SellerTel</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="sellerNick"
					value="{$goods_fillorder[0].SellerTel}" name="Tel" Readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="sellerQQ" class="col-sm-2 control-label">SellerQQ</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="sellerQQ"
					value="{$goods_fillorder[0].SellerQQ}" name="QQ" Readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="sellerAddress" class="col-sm-2 control-label">SellerAddress</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="sellerAddress"
					value="{$goods_fillorder[0].SellerAddress}" name="sellerAddress" Readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="Address" class="col-sm-2 control-label">BuyerAddress</label>
			<div class="col-sm-8">
				<select class="form-control " name="BuyerAddId" id="buyerAddress">
					<foreach name="useraddrlist" item="v">
					<option value="{$v['Id']}" address="{$v['Address']}">{$v['Tel']}&nbsp;&nbsp;{$v['Address']}</option>
					</foreach>
				</select>
			</div>
			<div class="col-sm-2">
				<div class="pull-left">
					<a id="refreshadd" class="btn btn-default" data-toggle="tooltip"
						data-placement="top" title="刷新地址"> <span
						class="glyphicon glyphicon-refresh"></span>
					</a> <a href="{:U('Usercenter/User/addaddress')}" target="_blank"
						class="btn btn-default" data-toggle="tooltip" data-placement="top"
						title="添加地址"> <span class="glyphicon glyphicon-plus"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit"  class="btn btn-default">购买</button>
				<a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
			</div>
		</div>
	</form>
	</div>