<layout name="layout" />

<div id="main" class="container">

	<div class="row">
		<!-- 商品列表 -->
		<if condition="$list eq null">

			<div class="text-center">
				<h2>木有搜到商品</h2>
			</div>
		</if>

		<foreach name="list" item="v">
			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="thumbnail">
					<img src="__ROOT__{$v['ThumbURL']}" alt="">
					<div class="caption">
						<h4 class="pull-right message">{$v['TradeWayTxt']}</h4>
						<p>
							<img src="http://hhhhold.com/40x40" alt="头像" class="img-circle">
							<span>{$v['Nick']}</span>
						</p>
						<p>{$v['Title']}</p>
					</div>
					<div class="ratings">
						<h4 class="pull-right message">浏览 {$v['Views']}</h4>
						<h4 class="pull-right message">评论 {$v['CommentCount']}&nbsp</h4>
						<h3>
							{$v['Price']}
							<span>{$v['CostPrice']}</span>
						</h3>
					</div>
				</div>
			</div>
		</foreach>
	</div>
	<div class="row">
		<br>
		{$page}
		<br></div>
</div>