<extend name="./Tpl/layout.html"/>
<block name="content">

<style>
#com a:link {color:green} 
#com a:hover {color:gray;text-decoration:underline;}
</style>
<div id="main" class="container">
	<div class="text-center">
		<h1>商品详情</h1>
	</div>
	<br>
	<!-- 购买商品-->
    <input type="hidden" name="GoodsId" value="{$goods[0].Id}" />
    <div class="form-group">
    <label class="col-sm-2 control-label">名称：{$goods[0].Title}</label></div><br/>
    <div class="form-group">
    <label class="col-sm-2 control-label">价格：{$goods[0].Price}元</label></div><br/>
    <div class="form-group">
    <label class="col-sm-2 control-label">原价：{$goods[0].CostPrice}元</label></div><br/>
    <div class="form-group">
    <label class="col-sm-2 control-label">详情：{$goods[0].Presentation}</label></div><br/>
    <div class="form-group">
    <label class="col-sm-2 control-label">浏览数：{$goods[0].Views}</label></div><br/>
    <div class="form-group">
    <label class="col-sm-2 control-label">收藏：{$goods[0].Collection}</label></div><br/>
    <div class="form-group">
    <a href="{:U('Index/order',array('Id'=>$goods[0]['Id']))}" class="btn btn-default">购买</a>
    <a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
    </div>
    <foreach name='goodsimg' item='img'>
    <img alt="" src="__APP__{$img.URL}"/><br/>
    </foreach>
    <br>
    <p>评论</p><hr style="border-color: black;">
    <ul id="com">
		<foreach name='commentlist' item='c'>
				<li style="list-style: none;">{$c.Critics}&nbsp;<a href="#" ><if condition="(($c['UserId'] eq $c['AssesseeId']) or ($c['AssesseeId'] eq null)) or ($c['AssesseeId'] eq 0)"><else/>@{$c.Reply}</if></a>&nbsp;
				{$c.Content}&nbsp;&nbsp;{$c['CreateTime']|substr=0,16}
				&nbsp;&nbsp;&nbsp;<a href="#Content" onclick="javascript:jump({$c.UserId})" >回复</a>
				</li>
				<hr style="border-color: blue;">
		</foreach>
	</ul>
	<form action="__APP__/Home/Index/addComment" method="post" enctype="multipart/form-data">
		<input type="hidden" name="GoodsId" value="{$goods[0].Id}" />
		<input type="hidden" name="AssesseeId" id="AssesseeId" value="" />
		<input type="hidden" name="UserId" value="" />
		<textarea name="Content" rows="10" cols="50" id="commentt"></textarea><br/>
		<input type="submit" value="我要评论">
	</form>
	
</div>
</block>
<block name="js">
	<script type="text/javascript">
function jump(userId){
	document.getElementById("AssesseeId").value=userId;
	document.getElementById("commentt").focus();
}
</script>
</block>
<block name="login">
	<if condition="$usermodel eq null">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="{:U('Usercenter/User/index')}" >登录</a>
			</li>
			<li>
				<a href="{:U('Usercenter/User/regist')}">注册</a>
			</li>
		</ul>
		<else/>
		<!-- 登录状态 -->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<img src="http://hhhhold.com/18x18">
					&nbsp{$usermodel['Nick']}&nbsp
					<span class="caret"></span>
					&nbsp
					<span class="badge">3</span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">
							<span class="badge pull-right">3</span>
							未读消息
						</a>
					</li>
					<li>
						<a href="{:U('Usercenter/UserCnter/index')}">个人中心</a>
					</li>
					<li>
						<a href="#">心愿单</a>
					</li>
					<li>
						<a href="#">充值</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="{:U('Usercenter/User/logout')}">退出用户</a>
					</li>
				</ul>
			</li>
		</ul>
	</if>
</block>