<extend name="./Tpl/layout.html"/>
<block name="content">
<div id="main" class="container">
	<!-- 词典测试-->
	<div class="text-center">
		<h1>分类测试</h1>
	</div>
	<br> <br>

	<form class="form-horizontal" role="form" action="{:U('Home/TestDic/dic')}"
		method="post">
		<div class="form-group">
			<label for="text" class="col-sm-2 control-label">text</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="text"
					placeholder=" text  " name="text">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">提交</button>
			</div>
		</div>
	</form>
</div></block>