<extend name="./Tpl/layout.html"/>
<block name="content">

<div id="main" class="container">
	<div class="text-center">
		<h1>我的商品列表</h1>
	</div>
	<br>
	<div class="text-center">
		<a href="{:U('Home/Goods/add')}" class="btn btn-default">添加</a>
	</div>
	<br>

	<div class="row">
		<!-- 商品列表 -->
		<foreach name="list" item="v">
			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="thumbnail">
					<img src="__ROOT__{$v['ThumbURL']}" alt="">
					<div class="caption">
						<h4 class="pull-right message">{$v['TradeWayTxt']}</h4>
						<p>
							<img src="http://hhhhold.com/40x40" alt="头像" class="img-circle">
							<span>{$v['Nick']}</span>
						</p>
						<p>{$v['Title']}</p>
					</div>
					<div class="ratings">
						<h4 class="pull-right message">浏览 {$v['Views']}</h4>
						<h4 class="pull-right message">评论 {$v['CommentCount']}&nbsp</h4>
						<h3>
							{$v['Price']}
							<span>{$v['CostPrice']}</span>
						</h3>
					</div>
				</div>
			</div>
		</foreach>
	</div>
	<div class="row">
		<br>
		{$page}
		<br></div>
</div>
</block>
<block name="login">
	<if condition="$usermodel eq null">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="{:U('Usercenter/User/index')}" >登录</a>
			</li>
			<li>
				<a href="{:U('Usercenter/User/regist')}">注册</a>
			</li>
		</ul>
		<else/>
		<!-- 登录状态 -->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<img src="http://hhhhold.com/18x18">
					&nbsp{$usermodel['Nick']}&nbsp
					<span class="caret"></span>
					&nbsp
					<span class="badge">3</span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">
							<span class="badge pull-right">3</span>
							未读消息
						</a>
					</li>
					<li>
						<a href="{:U('Usercenter/UserCnter/index')}">个人中心</a>
					</li>
					<li>
						<a href="#">心愿单</a>
					</li>
					<li>
						<a href="#">充值</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">退出用户</a>
					</li>
				</ul>
			</li>
		</ul>
	</if>
</block>