<layout name="layout" />
<div class="container">
	<!-- 分类管理-->
	<div class="text-center">
		<h1>商品列表</h1>
	</div>
	<br>
	<div>
		<a href="{:U('add')}" class="btn btn-default">添加</a>
	</div>
	<br>
	<table class="table table-bordered">
		<tr >
			<th class="text-center">Id</th>
			<th class="text-center">Title</th>
			<th class="text-center">Price</th>
			<th class="text-center">CostPrice</th>
			<th class="text-center">Presentation</th>
			<th class="text-center">CategoryId</th>
			<th class="text-center">AddressId</th>
			<th class="text-center">Server</th>
			<th class="text-center">TradeWay</th>
			<th class="text-center">Status</th>
		</tr>
		<foreach name='list' item='v'>
			<tr>
				<td>{$v.Id}</td>
				<td>{$v.Title}</td>
				<td>{$v.Price}</td>
				<td>{$v.CostPrice}</td>
				<td>{$v.Presentation}</td>
				<td>{$v.CategoryId}</td>
				<td>{$v.AddressId}</td>
				<td>{$v.Server}</td>
				<td>{$v.TradeWay}</td>
				<td>{$v.Status}</td>
			</tr>
		</foreach>
	</table>
	{$page}
</div>