<layout name="layout" />
<div class="container">
	<!-- 分类管理-->
	<div class="text-center">
		<h1>我的商品列表</h1>
	</div>
	<br>
	<div>
		<a href="{:U('Home/Goods/add')}" class="btn btn-default">添加</a>
	</div>
	<br>

	<div class=" col-md-4 col-xs-4" style="padding-left:25px;padding-right:25px; padding-bottom:10px">
		<div class="thumbnail" id="73cc67dc-f4fa-44cd-8b50-ab26ba02e86b">
			<img alt="300x200" src="/Content/bootstrap/img/a2.png" width="100%">
			<div class="caption" style="height:260px;margin-left:5px;margin-right:5px">
				<div style="height:188px">
					<h3>数学与统计</h3>
					<p></p>
					<div style="margin: 10px; text-align: left;">

						<a class="btn btn-default" href="/subject?id=73cc67dc-f4fa-44cd-8b50-ab26ba02e86b&amp;chid=36ca82f4-d38f-4226-bb68-11f3b356ebf3">统计学</a>
						<a class="btn btn-default" href="/subject?id=73cc67dc-f4fa-44cd-8b50-ab26ba02e86b&amp;chid=b0c0113b-1bc0-49ea-9c21-d3d264d0b35c">数学与应用数学</a>

					</div>
					<div style="margin: 10px; text-align: left;">暂无简介...</div>
					<p></p>
				</div>
				<p>
					<a class="btn btn-primary" href="/subject?id=73cc67dc-f4fa-44cd-8b50-ab26ba02e86b">查看更多</a>
				</p>
			</div>
		</div>
	</div>
	<table class="table table-bordered">
		<tr>
			<th class="text-center">Id</th>
			<th class="text-center">Title</th>
			<th class="text-center">Price</th>
			<th class="text-center">CostPrice</th>
			<th class="text-center">Presentation</th>
			<th class="text-center">CategoryId</th>
			<th class="text-center">AddressId</th>
			<th class="text-center">Server</th>
			<th class="text-center">TradeWay</th>
			<th class="text-center">Status</th>
			<th class="text-center">Show</th>
		</tr>
		<foreach name='list' item='v'>
			<tr>
				<td>{$v.Id}</td>
				<td>{$v.Title}</td>
				<td>{$v.Price}</td>
				<td>{$v.CostPrice}</td>
				<td>{$v.Presentation}</td>
				<td>{$v.CategoryId}</td>
				<td>{$v.AddressId}</td>
				<td>{$v.Server}</td>
				<td>{$v.TradeWay}</td>
				<td>{$v.Status}</td>
				<td>
					<a href="{:U('Home/Goods/showgoods',array('Id'=>$v['Id']))}">Show</a>
				</td>
			</tr>
		</foreach>
	</table>
	{$page}
</div>