<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>商品详情</title>
</head>
<body>
<h1>商品详情</h1><br>
    <input type="hidden" name="GoodsId" value="{$info.Id}" />
    <label>名称：{$info.Title}</label><br/>
    <label>价格：{$info.Price}元</label><br/>
    <label>原价：{$info.CostPrice}元</label><br/>
    <label>详情：{$info.Presentation}</label><br/>
    <label>分类：{$cate.Title}</label><br/>
    <label>地址：{$info.AddressId}</label><br/>
    <label>浏览数：{$info.Views}</label><br/>
    <label>收藏：{$info.Collection}</label><br/>
    <button>购买</button>
    <p>评论</p><br>
    <table>
		<tr >
			<th class="text-center">评论人</th>
			<th class="text-center">内容</th>
			<th class="text-center">时间</th>
		</tr>
		<foreach name='allComment' item='c'>
			<tr>
				<td>{$c.UserId}</td>
				<td>{$c.Content}</td>
				<td>{$c.CreateTime}</td>
			</tr>
		</foreach>
	</table><br/>
	<form action="__APP__/Home/Goods/addComment" method="post" enctype="multipart/form-data">
		<input type="hidden" name="GoodsId" value="{$info.Id}" />
		<input type="hidden" name="UserId" value="1" />
		<textarea name="Content" rows="5" cols="30"></textarea><br/>
		<input type="submit" value="我要评论">
	</form>
	
</body>
</html>