<extend name="./Tpl/layout.html"/>
<block name="content">
<div id="main" class="container">
<div class="text-center">
<table class="table table-bordered">
	<tr>
		<th class="text-center">Id</th>
		<th class="text-center">Title</th>
		<th class="text-center">Price</th>
		<th class="text-center">CostPrice</th>
		<th class="text-center">Presentation</th>
		<th class="text-center">CategoryId</th>
		<th class="text-center">AddressId</th>
		<th class="text-center">Server</th>
		<th class="text-center">TradeWay</th>
		<th class="text-center">Status</th>
		<th class="text-center">Show</th>
	</tr>
	<foreach name='sell' item='v'>
	<tr>
		<td>{$v.Id}</td>
		<td>{$v.BuyerId}</td>
		<td>{$v.BuyerAddId}</td>
		<td>{$v.SellerId}</td>
		<td>{$v.SellerAddId}</td>
		<td>{$v.GoodsId}</td>
		<td>{$v.Price}</td>
		<td>{$v.E-Money}</td>
		<td>{$v.CreateTime}</td>
		<td>{$v.Status}</td>
		<td><a
			href="{:U('Home/GoodsList/showgoods',array('Id'=>$v['Id']))}">Show</a></td>
	</tr>
	</foreach>
</table>
</div>
</div>
</block>
<block name="login">
	<if condition="$usermodel eq null">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="{:U('Usercenter/User/index')}" >登录</a>
			</li>
			<li>
				<a href="{:U('Usercenter/User/regist')}">注册</a>
			</li>
		</ul>
		<else/>
		<!-- 登录状态 -->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<img src="http://hhhhold.com/18x18">
					&nbsp{$usermodel['Nick']}&nbsp
					<span class="caret"></span>
					&nbsp
					<span class="badge">3</span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">
							<span class="badge pull-right">3</span>
							未读消息
						</a>
					</li>
					<li>
						<a href="{:U('Usercenter/UserCnter/index')}">个人中心</a>
					</li>
					<li>
						<a href="#">心愿单</a>
					</li>
					<li>
						<a href="#">充值</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">退出用户</a>
					</li>
				</ul>
			</li>
		</ul>
	</if>
</block>