<extend name="./Tpl/Home/hometpl.html"/>
<block name="content">
	<div class="col-md-9">
		<div class="row">
			<volist name="list" id="v" empty="$empty">

				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="{:getFileUrl($v[ImgURL]),'320x160'}">
						<div class="caption">
							<p class="text-orange">金橘: {$v[Price]}</p>
							<p>{$v[Name]}</p>
						</div>
						<div class="ratings">
							<button class="btn btn-success ajaxpost" data-toggle="modal" data-price='{$v[Price]}' data-giftid='{$v[Id]}'>兑换</button>
							<h5 class="pull-right">剩余: {$v[Amount]}</h5>
						</div>
					</div>

				</div>
			</volist>

		</div>
	</div>

	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title hightlight" id="myModalLabel">
						兑换礼品
						<small class='text-orange' id='giftprice'></small>
					</h4>
				</div>

				<form class="form-horizontal" action="{:U('exchange')}" method="post">
					<div class="modal-body">

						<input type="hidden" class="form-control" id="giftid" name="giftid">

						<div class="form-group">
							<label class="col-sm-2 control-label">数量</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" id="Amount" name="Amount" value="1" required></div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">联系人</label>
							<div class="col-sm-10">
								<div class="input-group">
									<select class="form-control" id="AddressId" name="AddressId"></select>
									<span class="input-group-btn">
										<a class="btn btn-default btn-expend ajaxpost" data-toggle="tooltip" data-placement="top" title="刷新地址" data-container="body" refreshAddress>
											<span class="glyphicon glyphicon-refresh"></span>
										</a>
										<a  class="btn btn-default btn-expend" title="添加新地址" data-container="body" data-toggle="modal" data-target='#addressModal' data-backdrop='static' data-keyboard='false'>
											<span class="glyphicon glyphicon-plus"></span>
										</a>
									</span>
								</div>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<span>
							您的余额:
							<span id='userbalance'>999</span>
						</span>
						&nbsp;
						<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
						<button type="submit" class="btn btn-success">付款</button>
					</div>
				</form>

			</div>
		</div>
	</div>

	<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title hightlight" id="addressModalLabel">添加地址</h4>
				</div>
				<form class="form-horizontal address" onsubmit="return ajaxsubmit()" action="{:U('Usercenter/Address/saveaddress')}" method="post">
					<div class="modal-body">
						<input type="hidden" name="modif" value="add">
						<div class="form-group">
							<label for="Contacts" class="col-sm-2 control-label">联系人</label>
							<div class="col-sm-10">
								<input type="text" name="Contacts" id="Contacts" class="form-control"></div>
						</div>
						<div class="form-group">
							<label for="Tel" class="col-sm-2 control-label">联系电话</label>
							<div class="col-sm-10">
								<input type="tel" name="Tel" id="Tel" class="form-control" required></div>
						</div>
						<div class="form-group">
							<label for="Address" class="col-sm-2 control-label">联系地址</label>
							<div class="col-sm-10">
								<input type="text" name="Address" id="Address" class="form-control"></div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label>
										<input id="IsDefault" name="IsDefault" value="1" type="checkbox">&nbsp;作为默认地址</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
						<button type="reset" class="btn btn-warning">清空</button>
						<button type="submit" class="btn btn-primary">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</block>
<block name="js">
	<script type="text/javascript">
		$('.ajaxpost').click(function () {
			$.ajax({
                type: 'post',
                url: 'Gift/getinfo',
                beforeSend: function(){loading();},
                timeout: 10000,
                error: function(request) {
					showerrormsg('网络连接失败',100,1000);
                },
                success: function(data) {
					var data = eval("("+data+")").data;
					for(var i in data){
						$("#AddressId")[0].options[i] = new Option(data[i].Contacts+" "+data[i].Address+" "+data[i].Tel, data[i].Id);
						if (data[i].IsDefault>0) {
							$("#AddressId")[0].options[i].selected='selected';
						};
					}

					//给modal赋值
					var a = $('button[data-price]');
					$('#giftid').val(a.attr('data-giftid'));
					$('#giftprice').html('金橘: '+a.attr('data-price'));
					$('#addModal').modal('show');

                },
                complete: function(){
                	$("#load").remove();
                }
            });
		});
		
		$('#addressModal').on('show.bs.modal', function (e) {
			$('#addModal').modal('hide');
		})
		$('#addressModal').on('hide.bs.modal', function (e) {
			$('#addModal').modal('show');
			$('a[refreshAddress]').click();
		})

		//异步提交表单
		function ajaxsubmit(){
			var form = $('.address');
			$('button[type="submit"]').attr('disabled' ,'disabled');
			$('button[type="submit"]').text('等啊等...');
			$.ajax({
                type: form.attr("method"),
                url: form.attr("action"),
                data: form.serialize(),
                beforeSend: function(){
					loading();
				},
                error: function(request) {
					showerrormsg('网络连接失败',100,1000);
                },
                success: function(data) {
                    if (data.status != 1) {
						showerrormsg(data.info,100,1000);
                    }
                    else{
						showsuccessmsg(data.info,100,1000);
						$('#addressModal').modal('hide');
                    }
                },
                complete:function () {
					$("#load").remove();
                	$('button[type="submit"]').removeAttr('disabled');
					$('button[type="submit"]').text('保存');
                }
            });
            return false;
		}
	</script>
</block>