<include file="Public/header" />
<div class="container">
	<div class="col-md-3">
		<label>分类管理</label>
		<ul class="list-group">
			<a class="list-group-item" href="{:U('juzi/Category/index')}">商品分类</a>
			<a class="list-group-item" href="{:U('juzi/Keyword/tempCateKeyList')}">待审核关键字</a>
			<a class="list-group-item save" href="javascript:void(0);" action="{:U('juzi/CategoryDic/crate')}">生成词库</a>
		</ul>
		<label>分类词库</label>
		<ul class="list-group">
			<foreach name='catelist' item='v'>
				<a class="list-group-item" href="{:U('juzi/Keyword/index',array('CategoryId'=>$v['Id']))}">{$v.Title}</a>
			</foreach>

		</ul>
	</div>

	<block name="content"></block>
</div>

<include file="Public/footer"/>
</body>

</html>