<include file="Public/header"/>
<div id="main" class="container">
	<div class="col-md-3">
		<label>分类管理</label>
		<ul class="list-group">
			<a class="list-group-item" href="{:U('/Admin/GoodsCategory')}">商品分类</a>
			<a class="list-group-item" href="{:U('/Admin/CategoryDic/crate')}">生成词库</a>
		</ul>
		<label>词库管理</label>
		<ul class="list-group">
			<foreach name='catelist' item='v'>
				<a class="list-group-item" href="{:U('GoodsCategoryKeyword/index',array('CategoryId'=>$v['Id']))}">{$v.Title}</a>
			</foreach>

		</ul>
	</div>

	<block name="content"></block>
</div>

<include file="Public/footer"/>

<script type="text/javascript">

		//表单提交
		function ajaxsubmit(){
			var form = $("form");
			$('button[type$=submit]').attr('disabled' ,'disabled');
			$('button[type$=submit]').text('等啊等...');
			$.ajax({
                type: form.attr("method"),
                url: form.attr("action"),
                data: form.serialize(),
                error: function(request) {
                    alert("网络连接失败");
                },
                success: function(data) {
                    if (data.status != 1) {
                    	alert(data.info);
						$('button[type$=submit]').removeAttr('disabled');
						$('button[type$=reset]').click();
						$('button[type$=submit]').text('保存');

                    }
                    else{
                    	location.reload();
                    }
                }
            });
            return false;
		}
		
		//异步获取数据
		$('.edit').click(function () {
			$.ajax({
				type:'get',
				url:$(this).attr('action'),
				beforeSend: function(XMLHttpRequest) { $("body").append('<div  id="load" style="z-index:10; position:fixed; left:45%; top:30%"><img src="__PUBLIC__/Img/loading.gif" /></div>'); },
				error: function(request) {
					alert('网络连接失败');
				},
				success: function(data) {
					var result = eval("("+data+")");
					
					if(result.status != 1){
						alert(result.info);
						return false;
					}
					else{

						//填充数据
						for(var p in result.data){        
		       				$('input[name$='+p+']').val(result.data[p]);
						}

						$('input[name$=modif]').val(result.method);
						$('#addModal').modal('show');
						$('#addModal').find('.modal-title').text($(this).attr('modaltitle'));
					}
				},
				complete: function(XMLHttpRequest, textStatus) {$("#load").remove();}

			});
			
		});
		
	</script>

</body>

</html>