	</div>
	<script src="__PUBLIC__/js/jquery-1.8.0.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/js/juzi.js"></script>
	<script type="text/javascript">
		//表单提交
		function ajaxsubmit(){
			var form = $("form");
			$('button[type$=submit]').attr('disabled' ,'disabled');
			$('button[type$=submit]').text('等啊等...');
			$.ajax({
                type: form.attr("method"),
                url: form.attr("action"),
                data: form.serialize(),
                error: function(request) {
					showerrormsg('网络连接失败',100,1000);
                },
                success: function(data) {
                    if (data.status != 1) {
						showerrormsg(data.info,100,1000);
						$('button[type$=submit]').removeAttr('disabled');
						$('button[type$=reset]').click();
						$('button[type$=submit]').text('保存');

                    }
                    else{
						showsuccessmsg(data.info,100,1000);
						setTimeout(function(){
							window.location.href=window.location.href;
						},500);                  	
                    }
                }
            });
            return false;
		}
		
		//异步获取数据
		$('.edit').click(function () {
			var a = $(this);
			$.ajax({
				type:'get',
				url: a.attr('action'),
				beforeSend: loading(),
				error: function(request) {
					showsuccessmsg('网络连接失败',100,1000);
				},
				success: function(data) {
					var result = eval("("+data+")");
					
					if(result.status != 1){
						showerrormsg(data.info,100,1000);
						return false;
					}
					else{

						//填充数据
						for(var p in result.data){        
		       				$('input[name$='+p+']').val(result.data[p]);
		       				$('select[name$='+p+']').children().each(function () {
		       					if ($(this).attr('value')==result.data[p]) {
		       						$(this).attr('selected','selected');
		       						return;
		       					};
		       				});
						}

						$('input[name$=modif]').val(result.method);
						$('#addModal').modal('show');
						$('#myModalLabel').text(a.attr('modaltitle'));
					}
				},
				complete: function() {
					$("#load").remove();
				}

			});
			
		});

		var lock = false;
		$('.save').click(function () {
			$(this).removeClass('save');
			$(this).addClass('disabled');
			$(this).attr("disabled", "disabled"); 
			if (lock) {
				return;
			};
			$.ajax({
				type:'get',
				url:$(this).attr('action'),
				beforeSend: function(){
					loading();
					lock = true;
				},
				error: function(request) {
					showerrormsg('网络连接失败',100,1000);

				},
				success: function(data) {
					showsuccessmsg(data.info,100,1000);
						setTimeout(function(){
							window.location.href=window.location.href;
						},1000);                  	
				},
				complete: function() {
					$("#load").remove();
				}

				});
		});

		function loading() { 
					$("body").append('<div  id="load" style="z-index:10; position:fixed; left:45%; top:30%"><img src="__PUBLIC__/Img/loading.gif" /></div>'); 
				}
</script>
