<include file="Public/header" />
<div class="container">
	<div class="col-md-3">
		<label>商品列表</label>
		<ul class="list-group">
			<a class="list-group-item" href="{:U('index')}">全部</a>
			<a class="list-group-item" href="{:U('index',array('status'=>30))}">被举报</a>
		</ul>
		<label>下架商品</label>
		<ul class="list-group">
			<a class="list-group-item" href="{:U('recycle',array('status'=>50))}">管理员下架</a>
			<a class="list-group-item" href="{:U('recycle',array('status'=>40))}">用户下架</a>
		</ul>
	</div>

	<block name="content"></block>
</div>

<include file="Public/footer"/>

</body>

</html>