<include file="Public/header" />
<div class="container">
	<div class="col-md-3">
		<label>抽奖记录</label>
		<ul class="list-group">
			<a class="list-group-item" href="{:U('Prize/index')}">全部</a>
			<a class="list-group-item" href="{:U('Prize/index',array('s'=>-1))}">已兑换</a>
			<a class="list-group-item" href="{:U('Prize/index',array('s'=>10))}">未兑换</a>
		</ul>
		<label>配置</label>
		<ul class="list-group">
			<a class="list-group-item" href="{:U('Prize/setting')}">抽奖配置</a>
		</ul>
	</div>
	<block name="content"></block>
</div>

<include file="Public/footer"/>
</body>

</html>