<extend name="./Tpl/Home/hometpl.html"/>
<block name="content">
	<div class="col-md-9">

		<volist name="list" id="v" empty="$empty">
			<if condition="($v[Href] eq null) or ($v[Href] eq '')">
				<a class="col-md-12 thumbnail" href="{:U('/f/'.$v[Id])}">
					<img src="{:getFileUrl($v[ImgURL]),'800x300'}" alt="{$v[Title]}"></a>
				<else/>
				<a class="col-md-12 thumbnail" href="{$v[Href]}">
					<img src="{:getFileUrl($v[ImgURL]),'800x300'}" alt="{$v[Title]}"></a>
			</if>

		</volist>

		<div class="page text-center">{$page}</div>
	</div>

</block>