<extend name="./Tpl/layout.html"/>
<block name="content">
<div class="container">
<div class="text-center">
		<h1>我的购买记录</h1>
	</div>
	<br>
	<br>
<table class="table table-bordered">
	<tr>
		<th class="text-center">Id</th>
		<th class="text-center">BuyerId</th>
		<th class="text-center">BuyerAddId</th>
		<th class="text-center">SellerId</th>
		<th class="text-center">SellerAddId</th>
		<th class="text-center">GoodsId</th>
		<th class="text-center">Price</th>
		<th class="text-center">E-Money</th>
		<th class="text-center">CreateTime</th>
		<td>{$v.Status}</td>
		<th class="text-center">Show</th>
	</tr>
	<foreach name='buy' item='v'>
	<tr>
		<td>{$v.Id}</td>
		<td>{$v.BuyerId}</td>
		<td>{$v.BuyerAddId}</td>
		<td>{$v.SellerId}</td>
		<td>{$v.SellerAddId}</td>
		<td>{$v.GoodsId}</td>
		<td>{$v.Price}</td>
		<td>{$v.E-Money}</td>
		<td>{$v.CreateTime}</td>
		<td>{$v.Status}</td>
		<td><a
			href="{:U('Home/GoodsList/showgoods',array('Id'=>$v['Id']))}">Show</a></td>
	</tr>
	</foreach>
</table>
</div>
</block>