.alertmsg{
	width: 100%;
	position: fixed;
	top: 42%;
	left: 0px;
	text-align: center;
	z-index: 65533;
	overflow: hidden;
	height: 80px;
	line-height: 60px;
	display: none;
	border-radius: 0px;

}
.msgbox{
	font-size: 20px;
	border-radius: 0px;
	border: none;
}

form{

	position: relative;
}