<extend name="Public/base" />
<block name="js">
	<script type="text/javascript">
	$(function(){
		$('.delkeyworl').click(function(e){
			var _id=$(this).attr('delid');
			var _cid=$(this).attr('cateid');
			var _url=$('#url').attr('delurl');
			$.post(_url,{
				'CategoryId':_cid,
				'Id':_id
			},function(data){
				if(data.status==1){
					location.reload();
				}else{
					alert("删除失败！\n"+data.info);
				}
			});
		});
	});
</script>
</block>

<block name="content">
	<div class="container">
		<!-- 分类管理-->
		<div class="text-center">
			<h1>{$cmodel['Title']}-关键字列表</h1>
		</div>
		<br>
		<input type="hidden" id="url" delurl="{:U(del)}">
		<div>
			<a href="{:U('GoodsCategory/add',array('CategoryId'=>
				$CategoryId))}"
			class="btn btn-default" target="_blank">添加
			</a>
			<a href="{:U('GoodsCategory/index')}"
			class="btn btn-default">返回分类</a>
		</div>
		<br>
		<table class="table table-bordered">
			<tr>
				<th class="text-center">Id</th>
				<th class="text-center">CategoryId</th>
				<th class="text-center">Keyword</th>
				<th class="text-center">Status</th>
				<th>Hot</th>
				<th colspan="2" class="text-center">Operate</th>
			</tr>
			<foreach name='list' item='v'>
				<tr>
					<td>{$v.Id}</td>
					<td>{$v.CategoryId}</td>
					<td>{$v.Keyword}</td>
					<td>{$v.Status}</td>
					<td>{$v.Hot}</td>
					<td>
						<a class="btn btn-default delkeyworl" delid="{$v['Id']}"  cateid="{$CategoryId}" >删除</a>
					</td>
					<td>
						<a class="btn btn-default"
				href="{:U(GoodsCategory/update,array('Id'=>$v['Id']))}" target="_blank">编辑</a>
					</td>
				</tr>
			</foreach>
		</table>
		{$page}
	</div>
</block>