<include file="./Tpl/Public/header.html"/>
<!-- 内容 -->
<div id="main" class="container">
	<div class="col-md-3">
		<article>
			<div class="profile" data-toggle="tooltip" data-placement="right" title="点击进入个人信息" data-container="body" data-delay="500">
				<a href="{:U('Usercenter/Index/index')}">
					<img src="{:getFileUrl($user['URL'],'150x150')}" alt="{$user['Nick']}" class="img-circle">
					<p>{$user['Nick']}</p>
					<p>等级: {$grade['Title']}</p>
				</a>
			</div>
			<ul class="list-group">
				<a class="list-group-item" href="{:U('Usercenter/Index/msg')}">
				<if condition="$urnotice gt 0"><span class="badge">{$urnotice}</span>
				</if>
					未读消息
				</a>
				<a class="list-group-item" href="{:U('Usercenter/Index/sell')}">在售商品</a>
				<a class="list-group-item" href="{:U('Usercenter/Index/order')}">订单管理</a>
				<a class="list-group-item" href="{:U('Usercenter/Index/follow')}">已关注</a>
				<a class="list-group-item" href="{:U('Usercenter/Index/like')}">心愿单</a>
				<a class="list-group-item" href="{:U('Usercenter/Index/edit')}">编辑资料</a>
				<a class="list-group-item" href="{:U('Usercenter/User/u_show',array('Id' => $user['Id']))}">个人页面</a>
			</ul>
		</article>
	</div>
	<block name="content"></block>
</div>
<include file="./Tpl/Public/footer.html"/>