<extend name="./Tpl/layout.html"/>
<block name='content'>
	<div id="main" class="container">

		<div class="panel panel-default">
			<div class="panel-body">
				<h1 class="text-center">关于我们</h1>
				<hr/>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
						<h4>
							欢迎来到
							<a href="http://www.bigoranger.com/" class="text-orange">大橘子</a>
							，专注于打造校园最大最好的二手交易平台。
						</h4>
						<br>
						<p>
							大橘子（
							<a href="http://www.bigoranger.com/" class="text-orange">bigoranger.com</a>
							）由贵州财经大学信息学院软件工程班10名同学立项于2014年9月初，历时三个月，于2014年12月3日正式上线。致力于创造一款简单、有趣、独具特色、不与潮流的二手商品交易电商网站，覆盖大学生用户群体，符合大学生的审美和思维方式。
						</p>
						<p>我们是橘子团队，</p>
						<p>在这里有一群奇思妙想的年轻人，</p>
						<p>生活随心、随性，</p>
						<p>我们普通，却渴望不普通。</p>
						<p>中国梦，我们的梦，而最初那小小的梦想，成为所有大橘子团队队员坚持的信念：</p>
						<p>我们坚信，坚持才是最好的：做最大的校园二手交易平台，我们有自己的坚持。</p>
						<p>我们坚信，沟通才是最好的：联系我们，无条件解答您的问题，建立良好的沟通方式，使我们走得更远。</p>
						<p>我们坚信，信任才是最好的：采用大家来监督的审核方式，进行商品审核，让您的购物之旅放心安全。</p>
						<p>我们坚信，人性化才是最好的：提供送货上门服务，让你不用出寝室，就能收到您购买的东西。</p>
						<p>我们坚信，特色才是最好的：定期举办不同的活动，让你体会到我们随时与您在一起。</p>
						<p>我们坚信我们可以做得很好，做到最好。</p>
						<br>
						<br></div>
				</div>
			</div>
		</div>
	</div>
</block>