<extend name="Public/pay"/>
<block name="content">
	<div class="col-md-9">
		<div class="panel panel-warning">
			<div class="panel-heading">支付宝账单</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<th>交易号</th>
						<th>用户</th>
						<th>金额</th>
						<th>备注</th>
						<th>状态</th>
						<th>时间</th>
					</thead>
					<tbody>
						<foreach name='list' item='v'>
							<tr>
								<td>{$v[TradeNo]}</td>
								<td>{$v[Name]}</td>
								<td>{$v[Amount]}</td>
								<td>{$v[Remark]}</td>
								<td>{$v[Status]}</td>
								<td>{$v[CreateTime]|date="y-m-d H:i:s",###}</td>
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>
			<div class="page pull-right">{$page}</div>
		</div>
	</div>
</block>