<extend name="Public/pay"/>
<block name="content">
	<div class="col-md-9">
		<div class="panel panel-warning">
			<div class="panel-heading">
				支付宝账单
			</div>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<th>交易号</th>
						<th>用户名</th>
						<th>金额</th>
						<th>备注</th>
						<th>时间</th>
					</thead>
					<tbody>
						<foreach name='list' item='v'>
							<tr>
								<td>{$v.Id}</td>
								<td>{$v.Action}</td>
								<td>{$v.UserName}</td>
								<td>{$v.IP}</td>
								<td>
									<?php echo date("Y-m-d H:i:s ", $v[CreateTime]); ?></td>
							</tr>
						</foreach>
					</tbody>
				</table>
			</div>
			<div class="page pull-right">{$page}</div>
		</div>
	</div>
</block>