<extend name="Public/pay"/>
<block name="content">
	<div class="col-md-9">
		<div class="panel panel-danger">
			<div class="panel-heading">爬虫设置</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" action="{:U('save')}" onsubmit="return ajaxsubmit()" method="post">
					<div class="form-group">
						<label class="col-sm-1 control-label">Cookies</label>
						<div class="col-sm-11">
							<textarea class="form-control" rows="5" name="cookies" value="{$cookies[value]}">{$cookies}</textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							<button type="submit" class="btn btn-success">保存</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</block>