<extend name="Public/pay"/>
<block name="content">
	<div class="col-md-9">
		<div class="panel panel-danger">
			<div class="panel-heading">爬虫设置</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form" action="{:U('save')}" onsubmit="return ajaxsubmit()" method="post">
					<div class="form-group">
						<label class="col-sm-1 control-label">Cookies</label>
						<div class="col-sm-11">
							<textarea class="form-control" rows="4" name="cookies" placeholder="安全起见设置后不予显示">{$cookies}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">Regex</label>
						<div class="col-sm-11">
							<textarea class="form-control" rows="4" name="regex" required>{$regex}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label">密码</label>
						<div class="col-sm-4">
							 <input type="password" name="password" class="form-control" placeholder="操作密码" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-11">
							<button type="submit" class="btn btn-success">保存</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</block>
<block name="js">
<script type="text/javascript">
	$(document).ready(function() {

	 $(document).keypress(function(e){ 
            if(e.ctrlKey && e.which == 13 || e.which == 10) {
                    ajaxsubmit(); 
            } else if (e.shiftKey && e.which==13 || e.which == 10) { 
                    ajaxsubmit(); 
            } 
     });
	});
</script>
</block>