<extend name="./Tpl/layout.html"/>
<block name="content">
	<div id="main" class="container">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<h1 class="hightlight">支付宝web端充值</h1>
					<hr>
					<p class="text-danger">
						* 交易时请选择 <strong>即时到帐交易 （确认订单 → 付款给卖家 → 交易完成）</strong>
						！如图所示:
					</p>
					<p class="text-center">
						<img src="__PUBLIC__/Img/alipay_img.png" width="80%" alt="支付宝充值图示"></p>
					<hr>
					<form id="resetpwdform" class="form-horizontal" role="form" method="post" action="{:U('u/Pay/alipay')}">
						<div class="modal-body">
							<div class="form-group">
								<label for="UserName" class="col-sm-2 col-sm-offset-2 control-label">金额</label>
								<div class="col-sm-4">
									<input type="number" name="money" id="money" class="form-control none-radius" placeholder="请输入充值金额, 最低1元" required ></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" id="submitbutton"  class="btn btn-success" data-loading-text="提交中..." autocomplete="off" >提交</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>