<extend name="./Tpl/layout.html"/>
<block name="content">
	<div id="main" class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1 class="hightlight">支付宝钱包转账-充值流程</h1>
				<h5>1. 扫描二维码</h5>
				<p class="text-center">
					<img src="__PUBLIC__/Img/alipay_qr.jpg" alt="支付宝转账二维码"></p>
				<p class="text-center">
					<a href="https://qr.alipay.com/apjdf4klgx2fr5dt3c" class="btn btn-info visible-xs">手机用户直接点此处充值</a>
				</p>
				<h5>2. 输入金额完成转账</h5>
				<h5>
					3. 查看详细订单的
					<mark>订单号</mark>
					并输入后四位，确认无误后再提交
				</h5>
				<p class="text-center">
					<form class="form-horizontal" role="form" ajaxsubmit onsubmit="return ajaxsubmit();" action="tradeno" method="post">
						<div class="form-group">
							<div class="col-md-4 col-md-offset-4">
								<input type="number" class="form-control" name="tradeno" placeholder="订单号后四位" id="tradeno" required></div>
						</div>

						<div class="form-group has-feedback" id="verifydiv">
							<label class="col-md-2 col-md-offset-4 control-label" style="text-align:left;padding-top:0;">
								<img class="verifycode" style="width: 160px; height: 35px;" src="{:U('Usercenter/Public/verifycode')}" alt="点击刷新" title="点击刷新"></label>
							<div class="col-md-2">
								<input type="number" name="code" id="code" class="form-control" placeholder="验证码" required>
								<span id='verifyicon' class="glyphicon glyphicon-remove form-control-feedback" hidden='hidden'></span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-4 col-md-4 text-center">
								<button type="submit" class="btn btn-success btn-lg hightlight">确定</button>
							</div>
						</div>
					</form>
				</p>

				<p>备注:</p>
				<p>
					1. 转账成功但提示充值失败，请与管理员联系 Email:
					<a href="mailto:feedback@bigoranger.com" class="text-orange">feedback@bigoranger.com</a>
				</p>
				<p>2. 充值后获得的金橘可用于购买服务、交易商品，目前暂不提供<strong>折现服务</strong></p>
			</div>
		</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript">
		$('.verifycode').click(function(e) {
			var src = $(this).attr('src');
	        var _src = src.substr(0, src.indexOf('?id')>0?src.indexOf('?id'):src.length) + '?id=' + new Date().valueOf();
		    $('.verifycode').attr('src', _src);
	    });

	    $("#code").on('input',function(e){  
			if($(this).val().length==4){
				$.ajax({
					type: 'post',
              		url: 'check',
              		data: 'code=' + $(this).val(),
              		success: function (data) {
	              		$('#verifyicon').removeAttr('hidden');

              			if (data.status) {
	              			$('#verifydiv').removeClass('has-error');
	              			$('#verifydiv').addClass('has-success');
	              			$('#verifyicon').removeClass('glyphicon-remove');
	              			$('#verifyicon').addClass('glyphicon-ok');

	              		}else{
	              			$('#verifydiv').removeClass('has-success');
	              			$('#verifydiv').addClass('has-error');
	              			$('#verifyicon').addClass('glyphicon-remove');
	              			$('#verifyicon').removeClass('glyphicon-ok');

	              		}
              		},
              		error: function () {
           				showerrormsg('网络错误', 100, 1000);
              		}
				})
			}
		}); 

		function ajaxsubmit () {
			if (! $('#verifyicon').hasClass('glyphicon-ok')) {
				return false;
			}else if($('#tradeno').val().length!=4){
				alert('订单号长度不符');
				$('#tradeno').focus();
				return false;
			}

			var form = $('form[ajaxsubmit]');
			$.ajax({
				type: form.attr('method'),
				url: form.attr('action'),
       			data: form.serialize(),
       			success:function (data) {
              			if (data.status) {
            				showsuccessmsg(data.info, 100, 1000);
            				setTimeout(function() {
            					location.href = '{:U("/Usercenter/Index/msg")}';
			                },
			                350);
              			}else{
            				showerrormsg(data.info, 100, 1000);
            				setTimeout(function() {
            					location.href=location.href;
			                },
			                1500);
              			}
       			},
       			error:function () {
            		showerrormsg('网络错误', 100, 1000);
       			}
			})

			return false;
		}
    </script>
</block>