<extend name="./Tpl/layout.html"/>
<block name="content">
	<div id="main" class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default login-panel">
				<div class="panel-body">
					<form id="loginform" class="form-horizontal" role="form" method="post" action="{:U('u/User/login')}" onsubmit="return ajaxsubmit()">
						<div class="modal-body">
							<div class="form-group">
								<input type="hidden" id="isadmin" name="isadmin" value="{$admin}">
								<if condition="($admin eq null) or ($admin eq false)">
									<input type="hidden" id="url" value="0" getcode="{:U('Public/verifycode')}"  login="{:U('u/User/login')}" home="{:U ( 'u/Index/activated' )}" >
									<else/>
									<input type="hidden" id="url" value="0" getcode="{:U('Public/verifycode')}"  login="{:U('u/User/login')}" home="{:U('Admin/Index/index')}" ></if>
								<label for="UserName" class="col-sm-2 control-label">用户名</label>
								<div class="col-sm-10">
									<input type="text" name="UserName" id="UserName" class="form-control none-radius" placeholder="邮箱/手机号" required></div>
							</div>
							<div class="form-group">
								<label for="Password" class="col-sm-2 control-label">密&nbsp&nbsp&nbsp&nbsp码</label>
								<div class="col-sm-10">
									<input type="password" name="Password" id="Password" class="form-control none-radius" required  maxlength="18" ></div>
							</div>
							<div class="form-group">
								<label for="verifycode" class="col-sm-2 control-label">验证码</label>
								<div class="col-sm-10">
									<input type="number" name="verifycode" class="form-control none-radius" id="verifycode" required></div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<img class="verifycode" src="{:U('u/Public/verifycode')}" alt="点击刷新" title="点击刷新"></div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<if condition=" ($admin neq 1) AND ($admin neq true)">
										<div class="checkbox">
											<label>
												<input id="rememberme" name="isremeber" value="1" id="isremeber" type="checkbox" >&nbsp;请记住我（30天）</label>
										</div>
									</if>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="{:U('/u/lostpwd')}">忘记密码？</a>
							<button type="submit" id="loginbutton"  class="btn btn-success" data-loading-text="登录中..." autocomplete="off" >登录</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="css">
	<style>
img.verifycode{
	cursor: pointer;
}
	</style>
</block>
<block name="js">
	<script>
function reloadcode() {
    var _src = $('#url').attr('getcode') + '?id=' + new Date().valueOf();
    $('.verifycode').attr('src', _src);
    $('#verifycode').parent().removeClass('has-error');
    $('#verifycode').parent().removeClass('has-success');
    //$('#verifycode').parent().addClass('has-error');
    $('#verifycode').attr('status', 0);

}
function ajaxsubmit() {
    var $btn = $('#loginbutton').button('loading');
    if (!$.trim($('#UserName').val())) {
        showerrormsg('用户名为空', 100, 1000);
        $('#UserName').val('');
        $('#UserName').focus();
        $btn.button('reset');
        return false;
    }
    if (!$.trim($('#Password').val())) {
        showerrormsg('密码为空', 100, 1000);
        $('#Password').val('');
        $('#Password').focus();
        $btn.button('reset');
        return false;
    }
    if(!$.trim($('#verifycode').val())){
    	showerrormsg('验证码为空', 100, 1000);
        $('#verifycode').val('');
        $('#verifycode').focus();
        $btn.button('reset');
        return false;
    }
    $.ajax({
        type: 'post',
        cache: false,
        url: $('#url').attr('login'),
        data: $('#loginform').serialize(),
        error:  
        function(request)  {
            showerrormsg('网络错误', 100, 1000);
            reloadcode();
            $btn.button('reset');   
            return false;             
        },
                        success:  
        function(data)  {
            if (data.status == 0) {
                showerrormsg(data.info, 100, 1000);
                reloadcode();
                 $('#verifycode').val('');
                $btn.button('reset');
                return false;
            } else {
                location.href = $('#url').attr('home');
            }                
        }
    });
    return false;
}
$(function() {
    $('.verifycode').click(function(e) {
        reloadcode();
    });
    /*刷新验证码*/
});
	</script>
</block>