<extend name="./Tpl/layout.html"/>
<block name="content">
	<div id="main" class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 ">
				<div class="board board-register ">
					<div class="board-inner">
						<ul id="myTab" class="nav nav-tabs text-center">
							<li class="active">
								<a href="#tab1" data-toggle="tab" title="邮箱注册" >
									<span class="round-tabs three"> <i class="glyphicon glyphicon-envelope"></i>
									</span>
								</a>
							</li>
							<!-- <li>
							<a href="#tab2" data-toggle="tab" title="手机号码注册" >
								<span class="round-tabs one"> <i class="glyphicon glyphicon-phone"></i>
								</span>
							</a>
						</li>
						-->
						<!-- 禁用的效果 -->
						<li  class="disabled">
							<a   title="手机号注册(暂未开放)" >
								<span class="round-tabs one ">
									<i class="glyphicon glyphicon-phone"></i>
								</span>
							</a>
						</li>

					</ul>
				</div>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab1">
						<form id="registform" class="form-horizontal" role="form" onsubmit="return ajaxsubmit()">
							<div class="form-group">
								<label for="UserName" class="col-sm-3 control-label" >邮箱</label>
								<div class="col-sm-8">
									<input type="email" class="form-control none-radius" id="UserName" name="UserName" placeholder="请输入邮箱" required></div>
							</div>
							<div class="form-group">
								<label for="Password" class="col-sm-3 control-label" >密码</label>
								<div class="col-sm-8">
									<input type="password" class="form-control none-radius" id="Password" name="Password" placeholder="6到18位字符密码" maxlength="18" required></div>
							</div>
							<div class="form-group">
								<label for="ConfirmPassword" class="col-sm-3 control-label" >确认密码</label>
								<div class="col-sm-8">
									<input type="password" class="form-control none-radius" id="ConfirmPassword" name="ConfirmPassword" maxlength="18" required></div>
							</div>
							<input type="hidden" id="url" value="0" regist="{:U('u/User/signup')}" home="{:U ( '/u/act' )}">
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-9">
									<button type="submit" id="registbutton" class="btn btn-orange" data-loading-text="注册中..."  autocomplete="off" >提交</button>
								</div>
							</div>
						</form>
					</div>
					<!-- 手机注册 -->
					<!-- 					<div class="tab-pane fade" id="tab2">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="phone" class="col-sm-3 control-label">手机号</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="phone" name="phone" placeholder="请输入手机号"></div>
						</div>
						<div class="form-group">
							<label for="telpassword" class="col-sm-3 control-label">密码</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" id="telpassword" placeholder="6到18位字符密码"></div>
						</div>
						<div class="form-group">
							<label for="telcomfirm" class="col-sm-3 control-label">确认密码</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" id="telcomfirm" name="telcomfirm"></div>
						</div>
						<div class="form-group">
							<label for="comfirm" class="col-sm-3 control-label">激活码</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" class="form-control">
									<span class="input-group-btn">
										<button class="btn btn-expend btn-success" type="button">发送激活码</button>
									</span>
								</div>
								/input-group
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<button type="submit" class="btn btn-success">提交</button>
							</div>
						</div>
					</form>
				</div>
				-->
			</div>
			<!--myTabContent-->
		</div>
		<!--panel-body-->
	</div>
</div>
</div>
</block>
<block name="js">
<script>
function checkmail(_mail) {
    var ismail1 = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
    var ismail2 = /^[a-z\d]+(\.[a-z\d]+)*@([\da-z](-[\da-z])?)+(\.{1,2}[a-z]+)+$/;
    if (!ismail1.test(_mail) && !ismail2.test(_mail)) {
        return false;
    }
    return true;
}
function checkpwd(_pwd) {
    var ispwd = /^[a-z0-9_A-Z~!@#$%^&*]{6,18}$/;
    /*/^(?!\D+$)(?!\d+$)[a-zA-Z0-9_]\w{6,16}$/*/
    ;
    if (!ispwd.test(_pwd)) {
        return false;
    }
    return true;
}
function checkmobile(_uid) {
    var isMobile = /^(?:13\d|14\d|15\d|18\d)\d{5}(\d{3}|\*{3})$/;
    if (!isMobile.test(_uid)) {
        return false;
    }
    return true;
}
function ajaxsubmit() {
    var $btn = $('#registbutton').button('loading');
    var _mail = $.trim($('#UserName').val());
    var _pwd = $.trim($('#Password').val());
    var _confirmpwd = $.trim($('#ConfirmPassword').val());
    if (!_mail || !checkmail(_mail)) {
        showerrormsg('邮箱不合法', 100, 1000);
        $('#UserName').focus();
        $btn.button('reset');
        return false;
    }
    if (!_pwd || !checkpwd(_pwd)) {
        showerrormsg('请确保密码在6~18位字符', 100, 1000);
        $('#Password').focus();
        $btn.button('reset');
        return false;
    }
    if (!_confirmpwd || !checkpwd(_confirmpwd) || _pwd != _confirmpwd) {
        showerrormsg('密码不一致', 100, 1000);
        $('#ConfirmPassword').focus();
        $btn.button('reset');
        return false;
    }
    $.ajax({
        type: 'post',
        cache: false,
        url: $('#url').attr('regist'),
        data: $('#registform').serialize(),
        error:  
        function(request)  {
            showerrormsg('网络错误', 100, 1000);
            $btn.button('reset'); 
            return false;               
        },
                        success:  
        function(data)  {
            if (data.status == 0) {
                showerrormsg(data.info, 100, 1000);
                $btn.button('reset');
                return false;
            } else {
                showsuccessmsg("账号注册成功，请查收激活邮件。", 100, 2000);
                setTimeout(function() {
                    location.href = $('#url').attr('home');
                    $btn.button('reset');
                },
                1000);
                return false;
            }                
        }
    });
    return false;
}
</script>
</block>
