<extend name="./Tpl/layout.html"/>
<block name="content">
	<div id="main" class="container">
		<div class="col-lg-6 col-lg-offset-3">
			<!-- ===== vCard Navigation ===== -->
			<div class="row w">
				<div class="col-md-4">
					<div class="text-center">
						<img id="image" class="img-responsive profile-img" src="{:getFileUrl($user['URL'],'200x200')}" alt="{$user['Nick']}"></div>
					<ul class="nav nav-tabs nav-stacked" id="myTab">
						<li class="active">
							<a href="#about">关于我</a>
						</li>
						<li>
							<a href="#sell">在售商品</a>
						</li>
						<li>
							<a href="#like">心愿单</a>
						</li>
						<li>
							<a href="#contact">联系方式</a>
						</li>
					</ul>
				</div>
				<!-- col-md-4 -->

				<!-- ===== vCard Content ===== -->
				<div class="col-md-8">
					<div class="tab-content like">

						<!-- ===== First Tab ===== -->
						<div class="tab-pane active" id="about">
							<h3>{$user['Nick']}</h3>
							<h5>{$grade['Title']}</h5>
							<hr>

							<dl class="dl-horizontal">
								<dt>信誉度</dt>
								<dd>{$credit}%</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>累计交易(笔)</dt>
								<dd>{$tradecount}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>连续签到(天)</dt>
								<dd>{$ClockinCount}</dd>
							</dl>
							<dl class="dl-horizontal">
								<dt>综合排名</dt>
								<dd>第 {$ranking} 位</dd>
							</dl>

						</div>
						<!-- tab about -->

						<!-- ===== Second Tab ===== -->
						<div class="tab-pane" id="sell">
							<div class="row">
								<!-- col-xs-6 -->
								<volist name="selllist" id="v" empty="$empty">
									<div class="col-xs-6 centered">
										<a href="{:U('/g/'.$v[Id])}" target="_blank">
											<img class="img-responsive" src="{:getFileUrl($v['URL'],'320x160')}" alt="{$v['Nick']}">
											<h6>{$v['Title']}</h6>
										</a>
									</div>
								</volist>
							</div>
							<!-- row -->
						</div>
						<!-- Tab Profile -->

						<!-- ===== Third Tab ===== -->
						<div class="tab-pane" id="like">
							<div class="row">
								<!-- col-xs-6 -->
								<volist name="likelist" id="v" empty="$empty">
									<div class="col-xs-6 centered">
										<a href="{:U('/g/'.$v[Id])}" target="_blank">
											<img class="img-responsive" src="{:getFileUrl($v['URL'],'320x160')}" alt="{$v['Nick']}">
											<h6>{$v['Title']}</h6>
										</a>
									</div>
								</volist>
								<!-- col-xs-6 -->
							</div>
							<!-- row -->
						</div>
						<!-- /Tab Portfolio -->

						<!-- ===== Fourth Tab ===== -->
						<div class="tab-pane" id="contact">
							<h4>邮箱</h4>
							<hr>
							<div class="row">
								<div class="col-xs-6">
									<p class="sm">{$user['E-Mail']}</p>
								</div>
							</div>
							<!-- row -->

							<h4>QQ</h4>
							<hr>
							<div class="row">
								<div class="col-xs-6">
									<p class="sm">{$user['TP_QQ']}</p>
								</div>
								<!-- col-xs-6 -->
							</div>
							<!-- row -->
						</div>
						<!-- Tab Contact -->

					</div>
					<!-- Tab Content -->
				</div>
				<!-- col-md-8 -->
			</div>
			<!-- row w -->
		</div>
		<!-- col-lg-6 -->
</div>
<!-- /.container -->

<!-- 关注按钮 -->
<div class="navbar-fixed-bottom fixed-expand">
	<if condition="(($usermodel eq null) or ($usermodel['Id'] eq  null))">
		<a href="{:U('/u/login')}" class="btn btn-danger btnpublish btnfollow" autocomplete="off" title="关注">
			<span class="glyphicon glyphicon-eye-open"></span>
		</a>
	<else />
		<if condition="($md eq 0)">
			<button class="btn btn-danger btnpublish btnfollow favoritebtn" data-toggle="tooltip" autocomplete="off" data-placement="top" title="关注">
				<!-- 关注 -->
				<span class="glyphicon glyphicon-eye-open"></span>
			</button>
			<form id="favoriteform" action="{:U('u/Index/attention')}" style="display:none" method="post" onsubmit="return ajaxsubmitfavorite()">
				<input type="hidden" name="AttentionId" value="{$user['Id']}"></form>
		<else />
			<button class="btn btn-danger btnpublish btnfollow favoritebtn" data-toggle="tooltip" autocomplete="off" data-placement="top" title="取消关注">
				<!-- 取消关注 -->
				<span class="glyphicon glyphicon-eye-close"></span>
			</button>
			<form id="favoriteform" action="{:U('u/Index/delattention')}" style="display:none" method="post" onsubmit="return ajaxsubmitfavorite()">
				<input type="hidden" name="AttentionId" value="{$user['Id']}"></form>
		</if>
	</if>
</div>
</block>

<block name="js">
<script type="text/javascript" src="__PUBLIC__/js/rgbaster.min.js"></script>
<script type="text/javascript">
	var img = document.getElementById('image');;
	RGBaster.colors(img, {
		exclude: [ 'rgb(255,255,255)','rgb(254,254,254)' ],
	  	success: function(payload) {
		  	var _color = payload.dominant=='rgb()'?'rgb(0,0,0)':payload.dominant;
		  	$('head').append('<style>.w .nav-tabs > li.active > a, .w .nav-tabs > li.active > a:hover, .w .nav-tabs > li.active > a:focus {border-left: 5px solid '+_color+';}</style>');
	  }
	});
</script>

<script>
function ajaxsubmitfavorite(){
	var $btn = $('.favoritebtn').button('loading');
	$btn.button('reset');
	$.ajax({
        type: 'post',
        cache: false,
        url: $('#favoriteform').attr('action'),
        data: $('#favoriteform').serialize(),
        error:  
        function(request)  {
            showerrormsg('网络错误', 100, 1000);
            $btn.button('reset');  
            return false;              
        },
         success:  
        function(data)  {
            if (data.status == 0) {
               // showerrormsg(data.info, 100, 1000);
            } else {
                //showsuccessmsg(data.info, 100, 1000);
            }     
            location.href=location.href;
            $btn.button('reset');
            return false;           
        }
    });
	return false;
}
$(document).ready(function() {
	$('.favoritebtn').click(function(){
		return ajaxsubmitfavorite();
	});
});
</script>
</block>