<extend name="Public/gift"/>
<block name="content">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<th>编号</th>
							<th>礼品名</th>
							<th>数量</th>
							<th width="300">联系地址</th>
							<th>创建时间</th>
						</thead>
						<tbody>
							<foreach name='list' item='v'>
								<tr>
									<td>{$v.Id}</td>
									<td>{$v.Name}</td>
									<td>{$v.Amount}</td>
									<td>{$v.Contacts}&nbsp;{$v.Tel}&nbsp;{$v.Address}</td>
									<td>
										<?php echo date("Y-m-d H:i:s ", $v[CreateTime]); ?></td>
								</tr>
							</foreach>
						</tbody>
					</table>
				</div>
				<div class="page pull-right">{$page}</div>
			</div>
		</div>
	</div>

</block>
