<extend name="Public/gift"/>
<block name="content">
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<button class="btn btn-success" data-toggle="modal" data-backdrop="static" data-target="#addModal">添加</button>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<th>编号</th>
							<th width="300">标题</th>
							<th>数量</th>
							<th>价格</th>
							<th>创建时间</th>
							<th>操作</th>
						</thead>
						<tbody>
							<foreach name='list' item='v'>
								<tr>
									<td>{$v.Id}</td>
									<td>{$v.Name}</td>
									<td>{$v.Amount}</td>
									<td>{$v.Price}</td>
									<td>
										<?php echo date("Y-m-d H:i:s ", $v[CreateTime]); ?></td>
									<td>
										<a class="btn btn-danger btn-small save" action="{:U(del,array('Id'=>$v['Id']))}">删除</a>
										<a class="btn btn-primary btn-small edit" action="{:U(update,array('Id'=>$v['Id']))}"  modaltitle="编辑礼品">编辑</a>
									</td>
								</tr>
							</foreach>
						</tbody>
					</table>
				</div>
				<div class="page pull-right">{$page}</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title hightlight" id="myModalLabel">添加礼品</h4>
				</div>

				<form class="form-horizontal" action="{:U('save')}" onsubmit="syncsubmit()" method="post" enctype="multipart/form-data">
					<div class="modal-body">

						<input type="hidden" class="form-control " name="modif" value="add">
						<input type="hidden" class="form-control " name="Id" value="{$model.Id}">

						<div class="form-group">
							<label class="col-sm-2 control-label">图片</label>
							<div class="col-sm-10">
								<input type="file" id="ImgURL" name="ImgURL" remove-attr="required" required>
								<p class="help-block">320x160</p>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">名称</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Title" name="Name" required></div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">介绍</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Description" name="Description"></div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">价格</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" id="Price" name="Price" required></div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">数量</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" id="Amount" name="Amount" required></div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
						<button type="reset" class="btn btn-warning">清空</button>
						<button type="submit" class="btn btn-primary loading">保存</button>
					</div>
				</form>

			</div>
		</div>
	</div>

</block>
