<!-- 激活 -->
<include file="./Tpl/Public/header.html"/>
<block name="content">
	<!-- 内容 -->
	<div id="main" class="container">
		<div class="col-md-12 text-center">
			<h1 class="hightlight board-register">账号尚未激活，请登录邮箱查收激活邮件</h1>
			<a href="{$activatedurl}" target="_blank" class="btn btn-success text-p btn-lg hightlight">登录邮箱</a>

			<p class="text-p"><a class="activatedbtn" url="{:U('Usercenter/Index/sendactivatemail')}" href="javascript:void(0);" data-loading-text="发送中..." autocomplete="off" >重新发送激活邮件</a></p>
		</div>

	</div>
	
</block>
<include file="./Tpl/Public/footer.html"/>
<block name="js">

	<script>

function ajaxsubmit () {
	var $btn = $('.activatedbtn').button('loading');
    $.ajax({
        type: 'post',
        cache: false,
        url: $('.activatedbtn').attr('url'),
        error:  
        function(request)  {
            showerrormsg('网络错误', 100, 1000);
            $btn.button('reset');   
            return false;             
        },
                        success:  
        function(data)  {
            if (data.status == 0) {
                showerrormsg(data.info, 100, 1000);
                $btn.button('reset');
                return false;
            } else {
                showsuccessmsg(data.info, 100, 1000);
                $btn.button('reset');
            }                
        }
    });	
}
$(function(){
	$('.activatedbtn').click(function(){
		ajaxsubmit ();
	});
});
	</script>
</block>