<extend name="./userlayout"/>
<block name="content">
<div class="col-md-9">
	<div class="panel panel-default profilemain">
		<div class="panel-body">
			<div class="row userlist">
			<volist name='attention' id='v' empty="$empty">
				<div class="col-md-4">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="__ROOT__{$v['URL']}" alt="..."></a>
						<div class="media-body">
							<h5 class="media-heading">{$v['Nick']}</h5>
							<p>{$v['EXP']}</p>
							<a href=""><button type="button" class="btn btn-success">心愿单</button></a>
							<button type="button" class="btn btn-danger">取消</button>
						</div>
					</div>
				</div>
			</volist>
			</div>
		</div>
	</div>
</div>
</block>