<extend name="./userlayout"/>
<block name="content">
<div class="col-md-9">
	<div class="panel panel-default profilemain">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-3 text-center">
					<img src="__ROOT__{:checkfile_exists($uapath['A_150'].$user['URL'])? $uapath['A_150']:getdefaultimg(5)}" alt="">
					<div class="editavatar">
						<btton class="btn btn-primary">编辑头像</btton>
					</div>
				</div>
				<div class="col-md-8">
					<dl class="dl-horizontal">
						<dt>用户名</dt>
						<dd>{$user['Nick']}</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>等级</dt>
						<dd>{$grade['Title']}</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>经验值</dt>
						<dd>
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {$grade['division']}%;">{$grade['EXPDiff2']}/{$grade['EXPDiff1']}</div>
							</div>
							<span class="pull-right">{$grade['Title']}</span>
						</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>金橘</dt>
						<dd>
							{$user['E-Money']}&nbsp
							<button class="btn btn-success btn-small">充值</button>
						</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>关注</dt>
						<dd>
							<a href="#">{$attn}</a>
						</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>信誉度</dt>
						<dd>99%</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>累计交易(笔)</dt>
						<dd>32</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>连续签到(天)</dt>
						<dd>{:getclockincount(null)}</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>综合排名</dt>
						<dd>第 200 位</dd>
					</dl>
				</div>
			</div>
		</div>
		<!--panel-body-->
	</div>
	<!--panel-->
</div>
<!--col-md-9-->
</block>