<extend name="./userlayout"/>
<block name="content">
	<div class="col-md-9">
		<div class="panel panel-default profilemain">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3 text-center">
						<img src="{:getFileUrl($user['URL'],'150x150')}" alt="">
						<div class="editavatar">
							<btton class="btn btn-primary" data-toggle="modal" data-target="#avatarModal">编辑头像</btton>
						</div>
					</div>
					<div class="col-md-8">
						<dl class="dl-horizontal">
							<dt>用户名</dt>
							<dd>{$user['Nick']}</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>等级</dt>
							<dd>{$grade['Title']}</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>经验值</dt>
							<dd>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {$grade['percent']}%;color: #CCCCCC;">{$grade['now']}/{$grade['NextNeed']}</div>
								</div>
								<span class="pull-right">{:getNextGrade($grade['Number'])}</span>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>金橘</dt>
							<dd>
								{$user['E-Money']}&nbsp
								<a class="btn btn-success btn-small" href="{:U('/u/pay')}">充值</a>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>关注</dt>
							<dd>
								<a href="#">{$attn}</a>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>信誉度</dt>
							<dd>{$user['CreditPer']}%</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>累计交易(笔)</dt>
							<dd>{$user['TradeCount']}</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>连续签到(天)</dt>
							<dd>{$user['ClockinCount']}</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>综合排名</dt>
							<dd>第 {$user['Ranking']} 位</dd>
						</dl>
					</div>
				</div>
			</div>
			<!--panel-body-->
		</div>
		<!--panel-->
	</div>

	<!-- Modal -->
	<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">上传头像</h4>
				</div>
				<form id="avatarform" class="form-horizontal" action="{:U('u/Index/upload')}" method="post" enctype="multipart/form-data"  >
					<div class="modal-body">
						<input type="hidden" name="modif" value="add">
						<div class="form-group">
							<label for="AURL" class="col-sm-2 control-label">图像文件</label>
							<div class="col-sm-10">
								<input type="file" name="AURL" id="AURL" accept=".jpg,.png,.gif" class="form-control"  required></div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger " data-dismiss="modal">关闭</button>
						<button  type="submit" class="btn btn-primary sbunmitbtn" data-loading-text="提交中..." autocomplete="off" >提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--col-md-9-->
</block>
<block name="js">
<script src="__PUBLIC__/js/jquery.form.js"></script>
	<script>
	$(function(){
		var options = {
			type:'post',
			error:function (data) {
				alert('上传失败');
				$('#avatarform').find('.sbunmitbtn').button('reset')
			},
			beforeSubmit: function () {
			$('#avatarform').find('.sbunmitbtn').button('loading');
			},
			success:function (data) {
				if(data.status==0){
					showerrormsg('上传失败',100,1000);
				}else{
					$('#avatarModal').modal('hide');
					showsuccessmsg('上传成功',100,1000);
					$('#avatarform').find('.sbunmitbtn').button('reset')
					setTimeout(function(){
						location.href=location.href;
					},300);
				}
			}
		}
		$('#avatarform').submit(function () {
			$(this).ajaxSubmit(options);
			return false;
		})

	});

function reloadhtml(){
	setTimeout(function(){
        location.href = location.href;
    },1200); 
}

	</script>
</block>