<extend name="./userlayout"/>
<block name="content">
<div class="col-md-9">
	<div class="panel panel-default profilemain">
		<div class="panel-body">

			<div class="row">
				<!-- 商品列表 -->
				<volist name="likelist" id="v" empty="$empty">
					<div class="col-sm-4 col-lg-4 col-md-4">
						<div class="thumbnail">
							<img src="__ROOT__{$v['ThumbURL']}" alt="">
							<div class="caption">
								<h4 class="pull-right message">{$v['TradeWayTxt']}</h4>
								<p>
									<img src="__ROOT__{$v['avatarURL']}" alt="头像" class="img-circle">
									<span>{$v['Nick']}</span>
								</p>
								<p>{$v['Title']}</p>
							</div>
							<div class="ratings">
								<h4 class="pull-right message">浏览 {$v['Views']}</h4>
								<h4 class="pull-right message">评论 {$v['CommentCount']}&nbsp</h4>
								<h3>
									{$v['Price']}.00
									<if condition="$v['Price'] lt 10000">
										<if condition="$v['CostPrice'] lt 10000">
											<span>{$v['CostPrice']}.00</span>
										</if>
									</if>
								</h3>
							</div>
						</div>
						<div class="operation">
							<button class="btn btn-success">购买</button>
							<button class="btn btn-danger">删除</button>
						</div>
					</div>
				</volist>
			</div>
		</div>
	</div>
</div>
</block>