<extend name="./userlayout"/>
<block name="content">
<div class="col-md-9">
	<div class="panel panel-default profilemain">
		<div class="panel-body">
			<div class="row">
				<!-- 商品列表 -->
				<volist name="likelist" id="v" empty="$empty">
					<div class="col-sm-4 col-lg-4 col-md-4 nt_{$v['Id']}" >
						<div class="thumbnail ">
							<img  src="{:getFileUrl($v['URL'],'320x160')}" alt="{$v['Nick']}">
							<div class="caption">
								<h4 class="pull-right message">{$v['TradeWayTxt']}</h4>
								<p>
									<img  src="{:getFileUrl($v['avatarURL'],'40x40')}" alt="{$v['Nick']}" class="img-circle">
									<span>{$v['Nick']}</span>
								</p>
								<p>{$v['Title']}</p>
							</div>
							<div class="ratings">
								<h4 class="pull-right message">浏览 {$v['Views']}</h4>
								<h4 class="pull-right message">评论 {$v['CommentCount']}&nbsp</h4>
								<h3>
									{$v['Price']}.00
									<if condition="$v['Price'] lt 10000">
										<if condition="$v['CostPrice'] lt 10000">
											<span>{$v['CostPrice']}.00</span>
										</if>
									</if>
								</h3>
							</div>
						</div>
						<div class="operation">
							<a href="{:U('/g/'.$v['Id'])}" target="_blank" class="btn btn-success">详情</a>
							<button class="btn btn-danger noticeclose" nid="{$v['Id']}" data-loading-text="提交中..." autocomplete="off">
								删除
							</button>
						</div>
					</div>
				</volist>
			</div>
			<div class="page">{$page}</div>
		</div>
	</div>
</div>

<!-- 删除心愿单 -->
<input type="hidden" id="closeurl" value="{:U('u/Index/dellike')}">
</block>

<block name="js">
<script>
$(function(){
	$('.noticeclose').click(function(e) {
		if(!confirm('您真的要删除吗？')){
			return;
		}
	    var _id = $(this).attr('nid');
	    $.ajax({
	        type: 'post',
	        cache: false,
	        url: $('#closeurl').val(),
	        data: {
	            GoodsId: _id
	        },
	        error:  
	        function(request)  {
	            showerrormsg('网络错误', 100, 1000);
	            return false;               
	        },
	        success:  
	        function(data){
	            if (data.status == 0) {
	                location.href = location.href;
	                return false;
	            } else {
	                $('.nt_' + _id).slideUp(300);
	                setTimeout(function() {
	                    location.href = location.href;
	                },
	                350);
	                return false;
	            }                
	        }
	    });
	    return false;
	});
});
</script>
</block>