<layout name="layout" />
<style>
	.login{

		margin: 200px  100px;
	}
	.verifycode{
		cursor: pointer;
	}

</style>

<script>
	$(function(){
		/*验证码自动验证*/
		$('#verifycode').blur(function(){
			var _code=$.trim($(this).val());
			if(!_code){return;}
			$.post($('#url').attr('checkcode'),{'code':_code},function(data){
				if(!data){
					$('#verifycode').parent().removeClass('has-error');
					$('#verifycode').parent().addClass('has-error');
					$('#verifycode').attr('status',0);

				}else{
					$('#verifycode').parent().removeClass('has-error');
					$('#verifycode').parent().addClass('has-success');
					$('#verifycode').attr('status',1);
				}
			});
		});
		$('#verifycode').focus(function(){
			$('#verifycode').parent().removeClass('has-error');
		});
		/*登录按钮*/
		$('#loginbutton').click(function(e){
			var _uid=$.trim($('#UserName').val());
			if(!_uid){
				$('#UserName').val('');
				$('#UserName').focus();
				return;
			}
			var _pwd=$('#Password').val();
			if(!$.trim(_pwd)){
				$('#Password').val('');
				$('#Password').focus();
				return;
			}
			/*记住我*/
			var _remember=parseInt($('#isremeber').val());
			var _code=$.trim($('#verifycode').val());
			var _status=parseInt($('#verifycode').attr('status'));
			if(!_code||!_status){
				$('#verifycode').attr('status',0);
				$('#verifycode').focus();
				return;
			}
			/**/

			/*提交表单*/
			$.post($('#url').attr('login'),{
				'Name':_uid,
				'Password':_pwd,
				'verifycode':_code,
				'isremeber':_remember
			},function(data){
				if(data.status==1){
					location.href=$('#url').attr('home');


				}else{
					reloadcode();
					alert(data.info);

				}
			},'json');

		});
		/*记住我按钮*/
		$('#rememberme').click(function(e){
			if(!$(this).attr('checked')){
				$('#isremeber').val(0);
			}else{
				$('#isremeber').val(1);
			}
		});
		$('.verifycode').click(function(e){
			reloadcode();
		});
		/*刷新验证码*/
		function reloadcode(){
			var _src=$('#url').attr('getcode')+'?id='+ new Date().valueOf() ;
			$('.verifycode').attr('src',_src);
		}
	});
</script>


<div class="container">
	<div class="login">
		<form class="form-horizontal" role="form" action="" method="post">
			<div class="form-group">
				<label for="UserName" class="col-sm-2 control-label">用户名</label>
				<div class="col-sm-10">
					<input type="txt" class="form-control" id="UserName" placeholder="用户名"></div>
			</div>
			<div class="form-group">
				<label for="Password" class="col-sm-2 control-label">密码</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="Password" placeholder="密码"></div>
			</div>
			<div class="form-group has-feedback">
				<label for="verifycode" class="col-sm-2 control-label">验证码</label>
				<div class="col-sm-10 ">
					<input type="txt" class="form-control " status="0" id="verifycode" placeholder="验证码"></div>
			</div>
			<div class="form-group">
				<label for="verifycode" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<img class="verifycode" src="{:U('Public/verifycode')}" alt="点击刷新" title="点击刷新"></div>
			</div>
			<input type="hidden" id="url" value="0" getcode="{:U('Public/verifycode')}" checkcode="{:U('Public/check_verify')}" login="{:U('User/login')}" home="{:U('Home/Index/index')}" >
			<input type="hidden" value="0" name="rememberme"  id="isremeber">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<input id="rememberme" type="checkbox">记住我</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" id="loginbutton" class="btn btn-default">登录</button>
					<a  href="{:U('regist')}" class="btn btn-default">注册</a>
				</div>
			</div>
		</form>
	</div>

</div>