<layout name="layout" />

<style>
	.login{

		margin: 200px  100px;
	}
	.verifycode{
		cursor: pointer;
	}

</style>

<script>
	$(function(){
		/*验证码自动验证*/
/*		$('#verifycode').blur(function(){
			var _code=$.trim($(this).val());
			if(!_code){return;}
			$.post($('#url').attr('checkcode'),{'code':_code},function(data){
				if(!data){
					$('#verifycode').parent().removeClass('has-error');
					$('#verifycode').parent().addClass('has-error');
					$('#verifycode').attr('status',0);

				}else{
					$('#verifycode').parent().removeClass('has-error');
					$('#verifycode').parent().addClass('has-success');
					$('#verifycode').attr('status',1);
				}
			});
		});*/
/*		$('#verifycode').focus(function(){
			$('#verifycode').parent().removeClass('has-error');
		});*/
		/*登录按钮*/
		$('#loginbutton').click(function(e){
			$('#loginbutton').attr('disabled',"true");
    		$('#loginbutton').val('....');
			var _uid=$.trim($('#UserName').val());
			if(!_uid){
				$('#UserName').val('');
				$('#UserName').focus();
			$('#loginbutton').val(btn_txt);
    		$('#loginbutton').removeAttr('disabled'); 
				return;
			}
			var _pwd=$('#Password').val();
			if(!$.trim(_pwd)){
				$('#Password').val('');
				$('#Password').focus();
			$('#loginbutton').val(btn_txt);
    		$('#loginbutton').removeAttr('disabled'); 
				return;
			}
			var _isadmin=$('#isadmin').val();			
			/*记住我*/
			var _remember=parseInt($('#isremeber').val());
			var _code=$.trim($('#verifycode').val());
			/*var _status=parseInt($('#verifycode').attr('status'));*/
/*			if(!_code||!_status){
				$('#verifycode').attr('status',0);
				$('#verifycode').focus();
				return;
			}*/
			/**/
		if(!_isadmin){
			_remember=_remember;
		}else{
			_remember=0;
		}
		    var btn_txt=$('#loginbutton').val();
			/*提交表单*/
			$.post($('#url').attr('login'),{
				'Name':_uid,
				'Password':_pwd,
				'verifycode':_code,
				'isremeber':_remember,
				'isadmin':_isadmin
			},function(data){
				if(data.status==1){
					if(_isadmin){
						location.href=$('#adminrul').attr('href');
					}else{
					location.href=$('#url').attr('home');}


				}else{
					reloadcode();
					alert(data.info);
					 reloadcode();
				}
			},'json');
    		$('#loginbutton').val(btn_txt);
    		$('#loginbutton').removeAttr('disabled'); 
		});
		/*记住我按钮*/
		$('#rememberme').click(function(e){
			if(!$(this).attr('checked')){
				$('#isremeber').val(0);
			}else{
				$('#isremeber').val(1);
			}
		});
		$('.verifycode').click(function(e){
			reloadcode();
		});
		/*刷新验证码*/
		function reloadcode(){
			var _src=$('#url').attr('getcode')+'?id='+ new Date().valueOf() ;
			$('.verifycode').attr('src',_src);
			$('#verifycode').parent().removeClass('has-error');
			$('#verifycode').parent().removeClass('has-success');
			//$('#verifycode').parent().addClass('has-error');
			$('#verifycode').attr('status',0);

		}
	});
</script>
<div class="container">
	<div class="login">
		<form class="form-horizontal" role="form" action="" method="post">
			<div class="form-group">
				<input type="hidden" id="isadmin" value="{$admin}">
				<label for="UserName" class="col-sm-2 control-label">用户名</label>
				<div class="col-sm-10">
					<input type="txt" class="form-control" id="UserName" placeholder="用户名"></div>
			</div>
			<div class="form-group">
				<label for="Password" class="col-sm-2 control-label">密码</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="Password" placeholder="密码"></div>
			</div>
			<div class="form-group has-feedback">
				<label for="verifycode" class="col-sm-2 control-label">验证码</label>
				<div class="col-sm-10 ">
					<input type="txt" class="form-control " status="0" id="verifycode" placeholder="验证码"></div>
			</div>
			<div class="form-group">
				<label for="verifycode" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<img class="verifycode" src="{:U('Usercenter/Public/verifycode')}" alt="点击刷新" title="点击刷新"></div>
			</div>
			<input type="hidden" id="url" value="0" getcode="{:U('Public/verifycode')}" checkcode="{:U('Usercenter/Public/check_verify')}" login="{:U('Usercenter/User/login')}" home="{:U('Home/Index/index')}" >
			<input type="hidden" value="0" name="rememberme"  id="isremeber">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
							<if condition=" ($admin neq 1) AND ($admin neq true)">
								<input id="rememberme" type="checkbox">记住我</label>
						</if>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" id="loginbutton" class="btn btn-default">登录</button>
					<a  href="{:U('Usercenter/User/regist')}" class="btn btn-default">注册</a>
				</div>
			</div>
		</form>
	</div>
</div>