<extend name="./Tpl/layout.html"/>
<block name="content">
<div id="main" class="container">
	<div class="text-center">
		<h1>地址管理</h1>
	</div>
	<br>
	<!-- 分类管理-->
	<form class="form-horizontal" role="form" action="" method="post">
		<div class="form-group">
			<input type="hidden" id="modif" class="form-control " name="modif"
				value="{$modif}" Readonly> <label for="Id"
				class="col-sm-2 control-label">Id</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="Id" placeholder=" Id  "
					name="Id" value="{$model.Id}" Readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="Tel" class="col-sm-2 control-label">Tel</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="Tel"
					placeholder=" Tel  " name="Tel" value="{$model.Tel}">
			</div>
		</div>
		<div class="form-group">
			<label for="QQ" class="col-sm-2 control-label">QQ</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="QQ" placeholder=" QQ  "
					name="QQ" value="{$model.QQ}">
			</div>
		</div>
		<div class="form-group">
			<label for="Address" class="col-sm-2 control-label">Address</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="Address"
					placeholder=" Address  " name="Address" value="{$model.Address}">
			</div>
		</div>
				<div class="form-group">
			<label for="Contacts" class="col-sm-2 control-label">Contacts</label>
			<div class="col-sm-10">
				<input type="text" class="form-control " id="Contacts"
					placeholder=" Contacts  " name="Contacts" value="{$model.Contacts}">
			</div>
		</div>
		<div class="form-group">
			<label for="IsDefault" class="col-sm-2 control-label">IsDefault</label>
			<div class="col-sm-10">
				<label class="checkbox-inline"> <input type="checkbox"
					id="IsDefault" value="1">作为默认地址
				</label>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button id='addressSubmit' type="button" urlindex="{:U('Home/Index/index')}"
					acurl="{:U('Usercenter/Address/saveaddress')}" class="btn btn-default">保存</button>
				<a class="btn btn-default" href="{:U('Home/Index/index')}">返回</a>
			</div>
		</div>
	</form>
</div>
</block>
<block name="js">
	
	<script>
	$(document).ready(function(){
		$('#addressSubmit').click(function(){
			/*验证手机*/
			var isMobile=/^(?:13\d|14\d|15\d|18\d)\d{5}(\d{3}|\*{3})$/; 
			/*var isPhone=/^((0\d{2,3})-)?(\d{7,8})(-(\d{3,}))?$/;*/
			var _suburl=$(this).attr('acurl');
			var _modif=$('#modif').val();
			var _Id=$('#Id').val();
			var _Tel=$('#Tel').val();
			if(!isMobile.test(_Tel)){
				$('#Tel').focus();
				return;
			}
			var _QQ=$('#QQ').val();
			var _Address=$.trim($('#Address').val());
			if(!_Address){
				$('#Address').focus();
				return;
			}
			var _Contacts=$.trim($('#Contacts').val());
			if(!_Contacts){
				$('#Contacts').focus();
				return;
			}
			var _IsDefault=$('#IsDefault').attr('checked');
			if(!_IsDefault){_IsDefault=0}else{_IsDefault=1;}
			$.post(_suburl,{
				'modif':_modif,
				'Id':_Id,
				'Tel':_Tel,
				'QQ':_QQ,
				'Address':_Address,
				'IsDefault':_IsDefault,
				'Contacts':_Contacts
			},function(data){
				if(data.status==0){
					alert(data.info);
					return;
				}
				alert('添加成功');
				location.href=$('#addressSubmit').attr('urlindex');
			});
		});
	});
</script>
</block>
<block name="login">
	<if condition="$usermodel eq null">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="{:U('Usercenter/User/index')}" >登录</a>
			</li>
			<li>
				<a href="{:U('Usercenter/User/regist')}">注册</a>
			</li>
		</ul>
		<else/>
		<!-- 登录状态 -->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<img src="http://hhhhold.com/18x18">
					&nbsp{$usermodel['Nick']}&nbsp
					<span class="caret"></span>
					&nbsp
					<span class="badge">3</span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#">
							<span class="badge pull-right">3</span>
							未读消息
						</a>
					</li>
					<li>
						<a href="{:U('Usercenter/UserHome/index')}">个人中心</a>
					</li>
					<li>
						<a href="#">心愿单</a>
					</li>
					<li>
						<a href="#">充值</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="{:U('Usercenter/User/logout')}">退出用户</a>
					</li>
				</ul>
			</li>
		</ul>
	</if>
</block>