<extend name="./userlayout"/>
<block name="content">
<div class="col-md-9">
	<div class="panel panel-default profilemain">
		<div class="panel-body">
		<volist  name='urnl' id='v' empty='$empty' >
			<!-- 系统消息 -->
			<div class="media nt_{$v['Id']}" >
				<button type="button" nid="{$v['Id']}" class="close noticeclose">&times;</button>
				<a class="pull-left">
					{:htmlspecialchars_decode($v['Theme'])}
				</a>
				<div class="media-body">
					<!--消息头-->
					<h5 class="media-heading text-danger"><small>{$v['CreateTime']|date="y-m-d H:i:s",###}</small>&nbsp;&nbsp;{$v['Title']}</h5>
					<!--消息内容-->
					<p class="text-p">{:htmlspecialchars_decode($v['Content'])} </p>
				</div>
			</div>
			<hr class="nt_{$v['Id']}">
		</volist>			
		</div>
		<!--panel-body-->
		<div class="page pull-right">
			{$page}
		</div>
	</div>
	<input type="hidden" id="closeurl" value="{:U('Usercenter/Index/delnotice')}">
	<!--panel panel-default profilemain-->
</div>
<!--col-md-9-->
</block>
<block name="js">
	<script>
$('.noticeclose').click(function(e) {
    var _id = $(this).attr('nid');
    $.ajax({
        type: 'post',
        cache: false,
        url: $('#closeurl').val(),
        data: {
            Id: _id
        },
        error:  
        function(request)  {
            showerrormsg('网络错误', 100, 1000);
            return false;               
        },
                        success:  
        function(data)  {
            if (data.status == 0) {
                location.href = location.href;
                return false;
            } else {
                $('.nt_' + _id).slideUp(300);
                setTimeout(function() {
                    location.href = location.href;
                },
                350);
                return false;
            }                
        }
    });
    return false;
});
	</script>
</block>
