<extend name="./userlayout"/>
<block name="content">
<div class="col-md-9">
	<div class="panel panel-default profilemain">
		<div class="panel-body">
		<volist  name='urnl' id='v' empty='$empty' >
			<!-- 系统消息 -->
			<div class="media">
				<button type="button" class="close">&times;</button>
				<a class="pull-left">
					{:htmlspecialchars_decode($v['Theme'])}
				</a>
				<div class="media-body">
					<!--消息头-->
					<h5 class="media-heading">{$v['Title']}</h5>
					<!--消息内容-->
					<p>{:htmlspecialchars_decode($v['Content'])} </p>

				</div>
			</div>
			<hr>
		</volist>			
		</div>
		<!--panel-body-->
	</div>
	<!--panel panel-default profilemain-->
</div>
<!--col-md-9-->
</block>