<extend name="./userlayout"/>
<block name="content">
<div class="col-md-9">
	<div class="panel panel-default profilemain">
		<div class="panel-body">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#tab1"  role="tab" data-toggle="tab">未完成</a>
				</li>
				<li role="presentation">
					<a href="#tab2" id="buyorder" act="{:U('u/order/buyorder')}"  role="tab" data-toggle="tab">已买商品</a>
				</li>
				<li role="presentation">
					<a href="#tab3" id="sellorder" act="{:U('u/order/sellorder')}" class="sellorder" role="tab" data-toggle="tab">已售商品</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="tab1">

					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<th>类型</th>
								<th>商品</th>
								<th>价格</th>
								<th style="width:100px">交易方式</th>
								<th style="width:200px">联系人</th>
								<th>状态</th>
							</thead>
							<tbody>
							<foreach name="order" item="v">
								<tr>
									<td>
										<if condition="$v['BuyerId'] eq cookie('_uid')"><span class="label label-success">购买</span><else/><span class="label label-primary">出售</span></if>
									</td>
									<td>{$v['Title']} </td>
									<td>{$v['Price']}</td>
									<td><if condition="$v['TradeWay'] eq 1">线上<else />线下</if></td>
									<td>
										{$v['BuyNick']}：{$v['Tel']}
										<br/>
										{$v['Address']}
									</td>
									<td>
										{:fuzhi($v)}
									</td>
								</tr>
							</foreach>
							</tbody>
						</table>
					</div>
					<div class="page">{$pageorder}</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="tab2">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<th>商品</th>
								<th>价格</th>
								<th width="100px">交易方式</th>
								<th>卖家</th>
								<th width="80px">评分</th>
							</thead>
							<tbody>
								<foreach name="buy" item="v">
								<tr>
									<td>{$v['Title']}</td>
									<td>{$v['Price']}</td>
									<td><if condition="$v['TradeWay'] eq 1"> 线上<else /> 线下</if></td>
									<td><a href="#">{$v['SellNick']}</a></td>
									<td class="text-orange">{:star($v['BuyerStar'])}</td>
								</tr>
								</foreach>
							</tbody>
						</table>
					</div>
					<div class="page">{$pagebuy}</div>
				</div>
				
				<div role="tabpanel" class="tab-pane" id="tab3">
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<th>商品</th>
								<th>价格</th>
								<th width="100px">交易方式</th>
								<th>买家</th>
								<th width="80px">评分</th>
							</thead>
							<tbody>
								<foreach name="sell" item="v">
								<tr>
									<td>{$v['Title']}</td>
									<td>{$v['Price']}</td>
									<td><if condition="$v['TradeWay'] eq 1"> 线上<else /> 线下</if></td>
									<td><a href="#">{$v['BuyNick']}</a></td>
									<td class="text-orange">{:star($v['SellerStar'])}</td>
								</tr>
								</foreach>
							</tbody>
						</table>
					</div>
					<div class="page">{$pagesell}</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title hightlight" id="myModalLabel">请为本次交易评分</h4>
			</div>

			<form class="form-horizontal" action="{:U('u/Index/savestar')}" onsubmit="syncsubmit()" method="post" enctype="multipart/form-data">
				<div class="modal-body">

					<h1 class="row text-center">
						<div id="stars" class="starrr text-orange"></div>
						<small id="count">0</small>
						<input id="oid" type="hidden" name="oid" />
						<input id="otype" type="hidden" name="otype" />
						<input id="star" type="hidden" name="count" />
						<small>星</small>
					</h1>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">确定</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- 修改账单 -->
<input type="hidden" id="updateurl" value="{:U('u/Index/updateorder')}">
</block>

<block name="js">
<script src="__PUBLIC__/js/star.js"></script>
<script type="text/javascript">

/*发货*/
$(function(){
	$('.sellorder').click(function(e){
		showsuccessmsg('ddd', 100, 1000);
		$.ajax({
			type:'post',
			cache:false,
			url:"{:U('u/Index/sellorder')}",
			error:
			function(request)  {
	            showerrormsg('网络错误', 100, 1000);
	            return false;               
	        },
	        success:  
	        function(data){
	        	if(data.status==1){
					data=JSON.parse(data.info);
					if(!data){
						$('#load').remove();
						return;
					}
					$('tbody[add]').html('');
					var _tbody=$('tbody[add]');
					var _editurl=_tbody.attr('editurl');
					$(data).each(function(i,v){
						_tbody.append("<tr class='nt_'"+v['Id']+"><td>"+v['Contacts']+"</td><td style='width:200px'>"+v['Address']+"</td><td>"+v['Tel']+"</td><td>"+v['QQ']+"</td><td><button nid="+v['Id']+" class='btn btn-danger btn-small delbtn'style='margin-right: 4px;'>删除</button><button act="+_editurl+"?Id="+v['Id']+"  class='btn btn-primary btn-small btnedit' aid="+v['Id']+" data-toggle='modal' data-backdrop='static' data-target='#addressModal'>编辑</button></td></tr>");
					});
				}               
	        }
		});
		return false;
	});
	$('.sendgoods').click(function(e) {
		if(!confirm('您确定吗？')){
			return;
		}
	    var _id = $(this).attr('nid');
	    var _otype = $(this).attr('otype');
	    $.ajax({
	        type: 'post',
	        cache: false,
	        url: $('#updateurl').val(),
	        data: {
	            OId: _id,
	            OType: _otype
	        },
	        error:  
	        function(request)  {
	            showerrormsg('网络错误', 100, 1000);
	            return false;               
	        },
	        success:  
	        function(data){
	            if (data.status == 0) {
	            	showsuccessmsg(data.info, 100, 1000);
	                location.href = location.href;
	                return false;
	            } else {
	            	showsuccessmsg(data.info, 100, 1000);
	                setTimeout(function() {
	                    location.href = location.href;
	                },
	                350);
	                return false;
	            }                
	        }
	    });
	    return false;
	});

	$('.pingfen').click(function(e) {
		$('#oid').val($(this).attr('nid'));
		$('#otype').val($(this).attr('otype'));
	});
});
</script>
</block>