<extend name="./userlayout"/>
<block name="content">
<div class="col-md-9">
	<div class="panel panel-default profilemain">
		<div class="panel-body">
			<div class="row">
				<!-- 商品列表 -->
				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="http://hhhhold.com/320x160" alt="">
						<div class="caption">
							<h4 class="pull-right message">线上/线下</h4>
							<p>
								<img src="http://hhhhold.com/40x40" alt="头像" class="img-circle">
								<span>乔布斯</span>
							</p>
							<p>全新Iphone手机出售啦哇哈哈哈快来买啊哇哈哈哈</p>
						</div>
						<div class="ratings">
							<h4 class="pull-right message">浏览 50</h4>
							<h4 class="pull-right message">评论 50&nbsp</h4>
							<h3>
								50.00
								<span>60.00</span>
							</h3>
						</div>
					</div>
					<div class="operation">
						<button class="btn btn-danger">下架(审核中)</button>
					</div>
				</div>

				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="http://hhhhold.com/320x160" alt="">
						<div class="caption">
							<h4 class="pull-right message">线上/线下</h4>
							<p>
								<img src="http://hhhhold.com/40x40" alt="头像" class="img-circle">
								<span>乔布斯</span>
							</p>
							<p>全新Iphone手机出售啦哇哈哈哈快来买啊哇哈哈哈</p>
						</div>
						<div class="ratings">
							<h4 class="pull-right message">浏览 50</h4>
							<h4 class="pull-right message">评论 50&nbsp</h4>
							<h3>
								50.00
								<span>60.00</span>
							</h3>
						</div>
					</div>
					<div class="operation">
						<button class="btn btn-danger">下架</button>
					</div>
				</div>

				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<img src="http://hhhhold.com/320x160" alt="">
						<div class="caption">
							<h4 class="pull-right message">线上/线下</h4>
							<p>
								<img src="http://hhhhold.com/40x40" alt="头像" class="img-circle">
								<span>乔布斯</span>
							</p>
							<p>全新Iphone手机出售啦哇哈哈哈快来买啊哇哈哈哈</p>
						</div>
						<div class="ratings">
							<h4 class="pull-right message">浏览 50</h4>
							<h4 class="pull-right message">评论 50&nbsp</h4>
							<h3>
								50.00
								<span>60.00</span>
							</h3>
						</div>
					</div>
					<div class="operation">
						<button class="btn btn-danger">下架</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</block>
