<include file="./Tpl/Public/header.html"/>
<div id="main" class="full-container">
    <div class="activity-lottery-winning">
        <div class="main">
            <div id="outercont">
                <div id="outer-cont">
                    <div id="outer" style="-webkit-transform: rotate(15deg);">
                        <img src="__PUBLIC__/Img/activity-lottery-1.png" width="310px"></div>
                </div>
                <div id="inner-cont">
                    <div id="inner">
                        <img src="__PUBLIC__/Img/activity-lottery-2.png"></div>
                </div>
            </div>
            <div class="content" >
                <div class="boxcontent boxyellow">
                    <div class="box">
                        <div class="title-green">
                            <span>奖项设置：</span>
                        </div>
                        <div class="Detail">
                            <foreach name="plist" item="v">
                                <p>
                                    {$v['PraiseName']}：{$v['PraiseContent']} 。奖品剩余：{$v['PraiseCount']}
                                </p>
                            </foreach>
                        </div>
                    </div>
                </div>
                <div class="boxcontent boxyellow">
                    <div class="box">
                        <div class="title-green">活动说明：</div>
                        <div class="Detail">
                            <p>本次活动每人仅可参与一次</p>
                            <p>兑奖地址：贵州财经大学创业园-指尖科技(笃行楼B栋101-F)</p>
                            <p>
                                ps：中三等奖的用户当需要此服务时持兑换码到兑奖地址处享受服务
                            </p>
                            <p>最终解释权：贵州财经大学创业园-指尖科技</p>
                            <p>
                                <a href="{:U('/recharge')}" target="_blank">代金券兑换地址：</a>
                                <a href="{:U('/recharge',null,true,true)}" class="text-orange" target="_blank">{:U('/recharge',null,true,true)}</a>
                            </p>
                            <p>
                                <a href="{:U('/u/myprize')}" target="_blank">中奖记录查询地址：</a>
                                <a href="{:U('/u/myprize',null,true,true)}" class="text-orange" target="_blank">{:U('/u/myprize',null,true,true)}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="prizeModal" tabindex="-1" role="dialog" aria-labelledby="prizeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h1 class="modal-title hightlight" id="prizeModalLabel">恭喜你中奖了</h1>

            </div>
            <div class="modal-body">
                <h4>
                    你中了：
                    <span class="red" id="prizetype"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;奖品：
                    <span style="color: #fa7d3c" id="pcontent"></span>
                </h4>
                <h4>
                    兑换码：
                    <span id="code"></span>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" pcount value="{$pcount}" act="{:U('Home/Prize/getprize')}">
<include file="./Tpl/Public/footer.html"/>

<block name="css">
    <link href="__PUBLIC__/css/activity-style.css" rel="stylesheet"></block>
<block name="js">
    <script src="__PUBLIC__/js/prize.js"></script>
</block>