<include file="./Tpl/Public/header.html"/>
<div id="main" class="full-container">
	<div class="activity-lottery-winning">
		<div class="main">
			<div id="outercont">
				<div id="outer-cont">
					<div id="outer" style="-webkit-transform: rotate(330deg);">
						<img src="__PUBLIC__/Img/activity-lottery-1.png" width="310px"></div>
				</div>
				<div id="inner-cont">
					<div id="inner">
						<img src="__PUBLIC__/Img/activity-lottery-2.png"></div>
				</div>
			</div>
			<div class="content" >
				<div class="boxcontent boxyellow">
					<div class="box">
						<div class="title-green">
							<span>奖项设置：</span>
						</div>
						<div class="Detail">
							<foreach name="plist" item="v">
								<p>
									{$v['PraiseName']}：{$v['PraiseContent']} 。奖品数量：{$v['PraiseNumber']}。剩余：{$v['PraiseCount']}
								
								</p>
							</foreach>
						</div>
					</div>
				</div>
				<div class="boxcontent boxyellow">
					<div class="box">
						<div class="title-green">活动说明：</div>
						<div class="Detail">
							<p>本次活动每人可参与一次</p>
							<p>兑奖地址：贵州财经大学创业园-指尖科技(笃行楼B栋101-F)</p>
							<p>最终解释权：贵州财经大学创业园-指尖科技</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="modal fade" id="prizeModal" tabindex="-1" role="dialog" aria-labelledby="prizeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h1 class="modal-title hightlight" id="prizeModalLabel">恭喜你中奖了</h1>

			</div>
			<div class="modal-body">
				<h4>
					你中了：
					<span class="red" id="prizetype"></span>
					&nbsp;&nbsp;&nbsp;&nbsp;奖品：
					<span style="color: #fa7d3c" id="pcontent"></span>
				</h4>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">确认</button>
			</div>
		</div>
	</div>
</div>
<input type="hidden" pcount value="{$pcount}" act="{:U('Home/Prize/getprize')}">
<include file="./Tpl/Public/footer.html"/>

<block name="css">
	<link href="__PUBLIC__/css/activity-style.css" rel="stylesheet"></block>
<block name="js">
	<script type="text/javascript">
$(function() {
    window.requestAnimFrame = (function() {
        return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
        function(callback) {
            window.setTimeout(callback, 1000 / 60)
        }
    })();
    var totalDeg = 360 * 3 + 0;
    var steps = [];
    var lostDeg = [36, 66, 96, 156, 186, 216, 276, 306, 336];
    var prizeDeg = [6, 126, 246];
    var prize;
    var count = parseInt($('input[pcount]').val());
    var now = 0;
    var a = 0.01;
    var outter, inner, timer, running = false;
    function countSteps() {
        var t = Math.sqrt(2 * totalDeg / a);
        var v = a * t;
        for (var i = 0; i < t; i++) {
            steps.push((2 * v * i - a * i * i) / 2)
        }
        steps.push(totalDeg)
    }
    function step() {
        outter.style.webkitTransform = 'rotate(' + steps[now++] + 'deg)';
        outter.style.MozTransform = 'rotate(' + steps[now++] + 'deg)';
        if (now < steps.length) {
            requestAnimFrame(step)
        } else {
            running = false;
            setTimeout(function() {
                if (prize != null) {
                    $("#prizetype").text(prize.name);
                    $('#pcontent').text(prize.content);
                    $("#prizeModal").modal('show');
                }
            },
            200)
        }
    }
    function start(deg) {
        deg = deg || lostDeg[parseInt(lostDeg.length * Math.random())];
        running = true;
        clearInterval(timer);
        totalDeg = 360 * 5 + deg;
        steps = [];
        now = 0;
        countSteps();
        requestAnimFrame(step)
    }
    window.start = start;
    outter = document.getElementById('outer');
    inner = document.getElementById('inner');
    i = 10;
    $("#inner").click(function() {
        if (running) {return false;}
        if (count >0||prize != null) {
            alert("亲，你已经参加过本次活动了喔！下次再来吧~");
            return false;
        }
        $.ajax({
        	type:'post',
            url: $('input[pcount]').attr('act'),
            dataType: "json",
            beforeSend: function() {
                running = true;
                timer = setInterval(function() {
                    i += 5;
                    outter.style.webkitTransform = 'rotate(' + i + 'deg)';
                    outter.style.MozTransform = 'rotate(' + i + 'deg)'
                },
                1)
            },
            success: function(data) {
            	if(data.status==0){
            		prize = null;
            		count++;
            		alert(data.msg);
            		clearInterval(timer);
            		start(lostDeg[1]);
            		return false;
            	}else{
            		prize=data.res;
            		start(prize.deg);
            	}
                running = false;
                count++
            },
            error: function() {
                prize = null;
                start();
                running = false;
                count++
            },
            timeout: 4000
        })
    })
});
</script>
</block>